<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<title>Formulario Usuario</title>
<meta charset="utf-8">
<head th:replace="/layout/layoutHead :: head"></head>
<body>
	<header th:replace="/layout/layoutHead :: header"></header>
<section>
	 <div class="tab-content">
	      <div class="form-group last col-sm-12 formfondo">
	                <div class="row">
	                    <div class="tab-content">
	                        <div class="col-sm-12">
	                            <div class="item-wrap">
	                                <div class="row">
	                                    <div class="col-md-12">
	                                        <form th:action="@{/AddTaller}" th:object="${talleres}" method="post" id="formulario"  data-toggle="validator" class="popup-form">
	                                            <div class="row">
														        
	                                                    <!--Nombre-->
	                                            	    <div class="form-group col-sm-7">
														   <div class="help-block with-errors"></div>
															   <input th:field="*{nombre}" name="n" id="n" placeholder="Nombre del Taller" onkeypress="return letras(event);" class="form-control" type="text"  required data-error="Ingrese El Nombre Del Taller">
														       <div class="input-group-icon"><i class="fas fa-map-marked-alt"></i></div>
														</div>
									
														<div  class="form-group col-sm-4" style="display: inline-block;">
															<input type="text" readonly="readonly" placeholder="Ingrese el Nombre con el que se identificara el taller" class="form-control">
														</div>																											
														
														<!--calle-->
														<div class="form-group col-sm-8">
														   <div class="help-block with-errors"></div>
															 <input th:field="*{calle}" name="c" id="c" placeholder="Calle" class="form-control soloLetras" type="text" required data-error="Ingrese El Nombre de la Calle">																
														   <div class="input-group-icon"><i class="fas fa-map-marked-alt"></i></div>
														</div>
											                       
                         
										     			<!--Numero-->
											     		<div class="form-group col-sm-2">
												    		<div class="help-block with-errors"></div>
													     	  <input th:field="*{numero}" name="num" id="num" placeholder="Numero de la calle " class="form-control soloLetras" type="text" required data-error="Ingrese El Numero">
														    <div class="input-group-icon"><i class="fas fa-map-marked-alt"></i></div>
													    </div>
													
													    <!--cp-->
													    <div class="form-group col-sm-4">
														 <div class="help-block with-errors"></div>
														   <input th:field="*{cp}" name="cp" id="cp" placeholder="Codigo Postal"  class="form-control signos" type="text" required data-error="Ingrese El Codio Postal">
														 <div class="input-group-icon"><i class="fas fa-map-marked-alt"></i></div>
													    </div>
													   
													    <!--Alcaldia-->
													    <div class="form-group col-sm-4">
														    <div class="help-block with-errors"></div>
														     <input th:field="*{alcaldia}" name="al" id="al" placeholder="Alcaldia"  class="form-control soloLetras" type="text" required data-error="Ingrese La Alcaldia">
														    <div class="input-group-icon"><i class="fas fa-map-marked-alt"></i></div>
													    </div>
													   
													   			   
													   <!--Entidad-->
													   <div class="form-group col-sm-4">
															<div class="help-block with-errors"></div>
														     <input th:field="*{entidad}" name="en" id="en" placeholder="Entidad"  class="form-control soloLetras" type="text" required data-error="Ingrese La Entidad">
														    <div class="input-group-icon"><i class="fas fa-map-marked-alt"></i></div>
													   </div>
													
													
													  <!--n_contrato-->
													  <div class="form-group col-sm-6">
														<div class="help-block with-errors"></div>
														     <input th:field="*{no_contrato}" name="no" id="no" placeholder="Numero de Contrato"  class="form-control soloLetras" type="text" required data-error="Ingrese El Numero de Contrato">
														    <div class="input-group-icon"><i class="fas fa-map-marked-alt"></i></div>
													  </div>
													 
													  
											
													   
													   <div class="form-group col-sm-4"></div>													   													 												    
														

													    <!--Boton de guardar-->

														<div  class="text-center col-sm-12">
															<button type="submit" id="guardar" class="btn btn-custom btn-stilo" style="float: right;"><i class='fa fa-envelope' th:if="${error == 'F'}"></i> Guardar</button>
															<div class="clearfix"></div>
												    	</div>
											   </div>
	                                        </form>
	                                    </div>
	                                </div>
	                            </div>
	                        </div>
	                    </div>
	                </div>
			</div>			
		</div>
</section>
	
	<script type="text/javascript"  th:inline="javascript">	
	var confirmacion = "Las contraseñas si coinciden";
	var longitud = "La contraseña debe estar formada entre 6-10 caracteres)";
	var negacion = "No coinciden las contraseñas";
     var valor1="";
	 var valor2="";
	
	 $("body").bind('cut copy paste',function(j){
		 j.preventDefault();
	 })
	
	 function Pvalor(){
			valor1 = document.getElementById("contrasena").value;	
			if((valor1.length<6) || (valor1.length>10)){
				if(valor1 != valor2){
				$("#guardar").hide();
				};
			};
		}
		function Svalor(){
			valor2 = document.getElementById("contrasenaCP").value;	
			if((valor2.length<6) || (valor2.length>10)){
				if(valor1 != valor2){
					$("#guardar").hide();
					};				
			};
		}
		function vlidar(){
			valor1 = document.getElementById("contrasena").value;
			valor2 = document.getElementById("contrasenaCP").value;	
			if((valor2.length<6) || (valor2.length>10) && (valor1.length<6) || (valor1.length>10)){
				if(valor1 == valor2){
					validartamañoeigualdad();
					};				
			};
		}
		
		function coincidencia(){	
			valor1 = document.getElementById("contrasena").value;
			valor2 = document.getElementById("contrasenaCP").value;	
			console.log("V1: "+valor1+" V2: "+valor2);
			
			if(valor1 != "" && valor2 != ""){
				
				validartamañoeigualdad();			
			}
			else{
				$("#span").hide();
				console.log("no ha entrado");
			};		
																											
		 }
		
		function validartamañoeigualdad(){
			if((valor1.length<6) || (valor1.length>10)){
				$("#span").show();
				document.getElementById("span").innerHTML =longitud;	
			
			}else{
				if(valor1 != valor2){
					$("#span").show();
					document.getElementById("span").innerHTML= negacion;	
					swal("Error", "No coinciden las contraseñas", "error");
					$("#guardar").hide();
					limpiar();
				}
				else{confirmar();
				};
			};
		}
			
		function confirmar(){
			if(valor1 == valor2){
				$("#span").show();		
				document.getElementById("span").innerHTML= confirmacion;
				swal("", "Las contraseñas coinciden", "success");
				$("#guardar").show();
			};	
		}
		
		function limpiar() {
			if(valor2 != ""){
				document.getElementById("contrasenaCP").value = "";        
	        valor2 = "";      
			};
	    }
		
		
	</script>
	<script src="/assets/js/CambiosEstado.js"></script>
	<!-- jQuery Library -->
	<script src="/assets/js/jquery-3.4.1.min.js"></script>
	<!-- Popper js -->
	<script src="/assets/js/popper.min.js"></script>
	<!-- Bootstrap Js -->
	<script src="/assets/js/bootstrap.min.js"></script>
	<!-- Form Validator -->
	<script src="/assets/js/validator.min.js"></script>
	<!-- Contact Form Js -->
	<script src="/assets/js/contact-form.js"></script>
    <!-- SweetAlert -->
	<script src="/assets/SweetAlert2/sweetalert2.min.js"></script>
	
	
</body>
</html>