<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<title>Formulario de Aseguradora</title>
	<meta charset="utf-8">
	<head th:replace="/layout/layoutHeadMetaData :: head"></head>
<body >
	<header th:replace="/layout/layoutHeadMetaData :: header"></header>
<section>
	 <div class="tab-content">
	      <div class="form-group last col-sm-12 formfondo" >
	                <div class="row">
	                    <div class="tab-content">
	                        <div class="col-sm-12">
	                            <div class="item-wrap">
	                                <div class="row">
	                                    <div class="col-md-12">
	                                        <form th:action="@{/formAseg}" th:object="${aseguradora}" method="post" id="formulario"  name="aseguradoras" data-toggle="validator" class="popup-form">
	                                            
												<div class="row">
					       					       		 
					       					       		  <h3 style="margin-left:1%;margin-top:.3%;">Datos</h3>	
					       					       		  
					       					       		  <div class="form-group col-sm-12"></div>

               		                                      <!--Nombre Aseguradora-->
	                                                   
	                                                      <div class="form-group col-sm-3">
	                                                            <div class="help-block with-errors"></div>
	                                                            <input th:field="*{nombre_aseguradora}"  id="nombre_aseg" placeholder="Nombre Aseguradora" onkeypress="return letras(event);" class="form-control" type="text" required data-error="Ingrese El Nombre de la Aseguradora"/>
	                                                            <div class="input-group-icon"><i class="fas fa-file-contract"></i></div>
	                                                      </div>
	                                                    
	                                                      <div class="form-group col-sm-7"></div>
	                                                             
	                                                      <!--Poliza-->
	                                                    
	                                                    <div class="form-group col-sm-3">
	                                                            <div class="help-block with-errors"></div>
	                                                            <input th:field="*{no_poliza_padre}"  id="No_po" placeholder="Numero de Poliza Padre" class="form-control signos" type="text" required data-error="Ingrese El Numero De Poliza"/>
	                                                            <div class="input-group-icon"><i class="far fa-newspaper"></i></div>
	                                                    </div>
	                                                    
	                                                    <div class="form-group col-sm-7"></div>
	                                                                                                
	                                                     <!--No Contrato-->
	                                                    
	                                                     <div class="form-group col-sm-3">
	                                                            <div class="help-block with-errors"></div>
	                                                            <input th:field="*{no_contrato}"  id="No_contrato" placeholder="Numero de Contrato" class="form-control Contrato" type="text" required data-error="Ingrese El Numero de Contrato"/>
	                                                            <div class="input-group-icon"><i class="far fa-newspaper"></i></div>
	                                                     </div>
	                                                    
	                                                     <div class="form-group col-sm-7"></div>
	                                                     
	                                                         
	                                                   <!--RFC Contratante-->
	                                                   
	                                                    <div class="form-group col-sm-3">
	                                                            <div class="help-block with-errors"></div>
	                                                            <input th:field="*{rfc_aseguradora}"  id="rfc_aseg" placeholder="RFC Aseguradora" class="form-control Letrasnum" type="text" required data-error="Ingrese El RFC de la Aseguradora"/>
	                                                            <div class="input-group-icon"><i class="far fa-newspaper"></i></div>
	                                                    </div>
	                                                    
	                                                    <div class="form-group col-sm-7"></div>
	                                                    
	                                                    <!--Fecha inicio-->

	                                                    <div class="form-group col-sm-3">
															    <div class="help-block with-errors"></div>	
																	<input th:field="*{fecha_inicio}" name="H_ini" id="H_ini"   onchange="validarFini()" placeholder="Fecha de inicio" class="form-control" type="date" required data-error="Ingrese Fecha inicio del Registro"  pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}">													
							   								    <div class="input-group-icon"><i class="far fa-calendar-alt"></i></div>
														</div>
		
														<div class="form-group col-sm-3" style=" width:40%; padding-left: 3px;">
																<input  type="text" readonly="readonly"  placeholder="Fecha Inicio" class="form-control" disabled>
														</div>
																
														<!--Fecha fin-->

	                                                    <div class="form-group col-sm-3">
															    <div class="help-block with-errors"></div>	
																	<input th:field="*{fecha_fin}" name="H_fin" id="H_fin"   onchange="validarFfin()" placeholder="Fecha de fin" class="form-control" type="date" required data-error="Ingrese Fecha final del Registro"  pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}">													
							   								    <div class="input-group-icon"><i class="far fa-calendar-alt"></i></div>
														</div>
		
														<div class="form-group col-sm-3" style=" width:40%; padding-left: 3px;">
																<input  type="text" readonly="readonly"  placeholder="Fecha Final" class="form-control" disabled>
														</div> 
														
														 <!--Estado-->
													    <div class="form-group col-sm-4">
														  <div class="help-block with-errors"></div>														
														    <select th:field="*{enabled}" id="estado" class="form-control" style="height: 38px;" required data-error="Ingrese el estado de la Aseguradora">																												
														      <option value=false>-Inactivo</option>
														      <option value=true>-Activo</option>
														    </select>	
														  <div class="input-group-icon"><i class="fa fa-user-tag"></i></div>
													   </div>
													  
													    <div class="form-group col-sm-8"></div> 
													    
														<!--Teléfono-->
	                                                    
	                                                    <div class="form-group col-sm-3">
	                                                            <div class="help-block with-errors"></div>
	                                                            <input th:field="*{tel_aseguradora}"  id="No_tel" placeholder="Numero de Teléfono" class="form-control signos" type="text" required data-error="Ingrese El Numero de Teléfono"/>
	                                                            <div class="input-group-icon"><i class="fas fa-phone"></i></div>
	                                                    </div>
	                                                    
	                                                    <div class="form-group col-sm-8"></div> 
	                                                    
														<h3 style="margin-left:1%;margin-top:.3%;">Dirección</h3>
	                                                    
	                                                    <div class="form-group col-sm-12"></div>
	                                                    
	                                                    <!--Calle-->
	                                                   
	                                                    <div class="form-group col-sm-5">
	                                                            <div class="help-block with-errors"></div>
	                                                            <input th:field="*{calle_domicilio}"  id="calle_aseg" placeholder="Calle Aseguradora" onkeypress="return letras(event);" class="form-control" type="text" required data-error="Ingrese la Calle"/>
	                                                            <div class="input-group-icon"><i class="fas fa-map-marked-alt"></i></div>
	                                                    </div>
	                                                    
	                                                    
	                                                     <!--Número-->
	                                                   
	                                                    <div class="form-group col-sm-3">
	                                                            <div class="help-block with-errors"></div>
	                                                            <input th:field="*{numero_domicilio}"  id="num_aseg" placeholder="Número Aseguradora" class="form-control signos" type="text" required data-error="Ingrese el número"/>
	                                                            <div class="input-group-icon"><i class="fas fa-map-marked-alt"></i></div>
	                                                    </div>
	                                                    
	                                                      <!--Colonia-->
	                                                   
	                                                    <div class="form-group col-sm-4">
	                                                            <div class="help-block with-errors"></div>
	                                                            <input th:field="*{colonia_domicilio}"  id="colonia_aseg" placeholder="Colonia Aseguradora" onkeypress="return letras(event);" class="form-control" type="text" required data-error="Ingrese la colonia"/>
	                                                            <div class="input-group-icon"><i class="fas fa-map-marked-alt"></i></div>
	                                                    </div>
	                                                    
 	                                                    <!--Codigo postaL-->
	                                                   
	                                                    <div class="form-group col-sm-2">
	                                                            <div class="help-block with-errors"></div>
	                                                            <input th:field="*{codigopos_domicilio}"  id="cp_aseg" placeholder="Código Postal" class="form-control signos" type="text" required data-error="Ingrese el codigo postal"/>
	                                                            <div class="input-group-icon"><i class="fas fa-map-marked-alt"></i></div>
	                                                    </div>
	                                                    
	                                                   <!--Alcaldia-->
	                                                   
	                                                    <div class="form-group col-sm-5">
	                                                            <div class="help-block with-errors"></div>
	                                                            <input th:field="*{alcaldia_domicilio}"  id="alcaldia_aseg" placeholder="Alcaldia Aseguradora" onkeypress="return letras(event);" class="form-control" type="text" required data-error="Ingrese la Alcaldia"/>
	                                                            <div class="input-group-icon"><i class="fas fa-map-marked-alt"></i></div>
	                                                    </div>
	                                                    
	                                                     <div class="form-group col-sm-12"></div>
	                                                     

											        <input type="hidden" th:field="*{id_aseguradora}"/>                													
													
														 <div class="form-group col-sm-12 has-error has-danger" style="text-align: center;">																																	
														 <div class="form-group last col-sm-12" th:if="${editar} == false">
															<button type="submit" id="guardar" class="btn btn-custom btn-stilo"><i class='fa fa-envelope' th:if="${error == 'F'}"></i> Guardar</button>
														 </div>
														<div class="clearfix"></div>
													    </div>  
   
											   </div>
	                                        </form>
	                                    </div>
	                                </div>
	                            </div>
	                        </div>
	                    </div>
	                </div>
			</div>
			
		</div>
	</section>
	
	<script type="text/javascript"  th:inline="javascript">		
	
	 var fechaanterior = document.getElementById("H_ini").value;
	 console.log("fechaanterior: "+fechaanterior);
	 
	 function validarFini()
	 {
		 
		 var fechainicial = document.getElementById("H_ini").value;
		 var fechafinal = document.getElementById("H_fin").value;
		 console.log("fechainicial: "+fechainicial);
	
           if(Date.parse(fechainicial) > Date.parse(fechafinal)) {
        	   document.getElementById("H_ini").value = fechaanterior;   
        	   swal("Error", "La fecha de inicio debe ser menor a la fecha de fin", "error");
        	   };
		  
		   if(Date.parse(fechainicial) < Date.parse(fechaanterior)) {
			   document.getElementById("H_ini").value = fechaanterior;   
			   swal("Error", "La fecha de inicio debe ser mayor al periodo anterior registrado", "error");
			   };
			  
	 }
	
	 
	function validarFfin()
	{
		
	   var fechainicial = document.getElementById("H_ini").value;
	   var fechafinal = document.getElementById("H_fin").value;

	   if(Date.parse(fechafinal) < Date.parse(fechainicial)) {
		   document.getElementById("H_fin").value = fechaanterior;
		   swal("Error", "La fecha fin debe ser mayor a la fecha de inicio", "error");
		};
		
	}
	
	</script>	

	<script src="/SGV/assets/js/CambiosEstado.js"></script>
	<!-- jQuery Library -->
	<script src="/SGV/assets/js/jquery-3.4.1.min.js"></script>
	<!-- Popper js -->
	<script src="/SGV/assets/js/popper.min.js"></script>
	<!-- Bootstrap Js -->
	<script src="/SGV/assets/bootstrap/js/bootstrap.min.js"></script>	
	<!-- Form Validator -->
	<script src="/SGV/assets/js/validator.min.js"></script>
	<!-- Contact Form Js -->
	<script src="/SGV/assets/js/contact-form.js"></script>
	<!-- SweetAlert-->
	<script src="/SGV/assets/SweetAlert2/sweetalert2.min.js"></script>
	<!-- fontawesome -->
	<script th:src="@{/assets/fontawesome/js/all.js}"></script>	
 
</body>
</html>