<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<title>Vehiculos</title>
<meta charset="utf-8">
	<head th:replace="/layout/layoutHead :: head"></head>
	
<body onload="datos();">
	<header th:replace="/layout/layoutHead :: header"></header>
<section>
	 <div class="tab-content">
	      <div class="form-group last col-sm-12 formfondo">
	                <div class="row">
	                    <div class="tab-content">
	                        <div class="col-sm-12">
	                            <div class="item-wrap">
	                                <div class="row">
	                                    <div class="col-md-12">
	                                    <form th:action="@{/TResguardante/}+${id_vehiculo}" th:object="${Tresguardante}" method="post" id="formulario" style="text-align: center;" data-toggle="validator" class="popup-form">
	                                        <div class="col-sm-12">
                                           		<h1>Selecciona el Tercer Resguardante del vehiculo</h1>
                                           	</div>	
                                           	
                                           	<div class="Paso1 col-sm-12" >
                                           		<h3>Tercer Resguardante</h3>
                                           		
                                           		
		                                            <div class="row rowresguardantes" >
															
														<!--Nombre-->
														<div class="form-group col-sm-4">
															<div class="help-block with-errors" style="width: 230px;"></div>														
															<input th:field="${Tresguardante.nombre}" th:value="${Tresguardante.nombre}" onkeypress="return letras(event);" name="nombre3" id="Nombre3" onchange="limpiarTR()"  placeholder="Nombre" class="form-control Letras" type="text" data-error="Ingrese El Nombre">
															<div class="input-group-icon"><i class="fa fa-user"></i></div>
														</div>
														<!--Apellido1-->
														<div class="form-group col-sm-4">
															<div class="help-block with-errors" style="width: 230px;"></div>														
															<input onchange="limpiarTR()" th:field="${Tresguardante.apellido1}" onkeypress="return letras(event);" th:value="${Tresguardante.apellido1}" name="apellidoP2" id="A_pa3" placeholder="Apellido Paterno" class="form-control Letras" type="text" data-error="Ingrese El primer Apellido">
															<div class="input-group-icon"><i class="fa fa-user"></i></div>
														</div>
														<!--Apellido2-->
														<div class="form-group col-sm-4">
															<div class="help-block with-errors" style="width: 230px;"></div>														
															<input onchange="limpiarTR()" th:field="${Tresguardante.apellido2}" onkeypress="return letras(event);" th:value="${Tresguardante.apellido2}" name="apellidoM2" id="A_ma3"  placeholder="Apellido Materno" class="form-control Letras" type="text" data-error="Ingrese El segundo Apellido">
															<div class="input-group-icon"><i class="fa fa-user"></i></div>
														</div>
														<!--Cargo-->
														<div class="form-group col-sm-4">
															<div class="help-block with-errors" style="width: 230px;"></div>														
															<input onchange="limpiarTR()" th:field="${Tresguardante.cargo}" onkeypress="return letras(event);" th:value="${Tresguardante.cargo}" name="cargo3" id="cargo3"  placeholder="Cargo" class="form-control Letras" type="text" data-error="Ingrese El cargo">
															<div class="input-group-icon"><i class="fa fa-user"></i></div>
														</div>
														<!-- calev -->
														<!--no_licencia-->
														<div class="form-group col-sm-4 enlineaform">
															<div class="help-block with-errors" style="width: 230px;"></div>														
															<input th:field="${Tresguardante.no_licencia}" th:value="${Tresguardante.no_licencia}" name="Tno_licencia" id="Tno_licencia" onchange="limpiarTR()" placeholder="Numero de licencia" class="form-control Letrasnum" type="text" required data-error="Ingrese El Numero de licencia">
															<div class="input-group-icon"><i class="fa fa-user"></i></div>
														</div>
														<!--rfc-->
														<div class="form-group col-sm-4 enlineaform">
															<div class="help-block with-errors" style="width: 230px;"></div>														
															<input th:field="${Tresguardante.rfc}" th:value="${Tresguardante.rfc}" name="Trfc" id="Trfc" onchange="limpiarTR()" placeholder="RFC" class="form-control Letrasnum" type="text" required data-error="Ingrese El RFC">
															<div class="input-group-icon"><i class="fa fa-user"></i></div>
														</div>
														<!--INE-->
														<div class="form-group col-sm-4 enlineaform">
															<div class="help-block with-errors" style="width: 230px;"></div>														
															<input th:field="${Tresguardante.ine}" th:value="${Tresguardante.ine}" name="TineT" id="Tine" onchange="limpiarTR()" placeholder="INE" class="form-control Letrasnum" type="text" required data-error="Ingrese El INE">
															<div class="input-group-icon"><i class="fa fa-user"></i></div>
														</div>
														<!--telefono-->
														<div class="form-group col-sm-4 enlineaform">
															<div class="help-block with-errors" style="width: 230px;"></div>														
															<input th:field="${Tresguardante.telefono}" th:value="${Tresguardante.telefono}" name="Ttelefono" id="Ttelefono" onchange="limpiarTR()" placeholder="Numero de telefono" class="form-control numguion" type="text" required data-error="Ingrese El eltelefono">
															<div class="input-group-icon"><i class="fa fa-user"></i></div>
														</div>
														<!--domicilio-->
														<div class="form-group col-sm-4 enlineaform">
															<div class="help-block with-errors" style="width: 230px;"></div>														
															<input th:field="${Tresguardante.domicilio}" th:value="${Tresguardante.domicilio}" name="Tdomicilio" id="Tdomicilio" onchange="limpiarTR()" placeholder="Domicilio" class="form-control Calle" type="text" required data-error="Ingrese El domicilio">
															<div class="input-group-icon"><i class="fa fa-user"></i></div>
														</div>
														<!--adscripcion-->
														<div class="form-group col-sm-4 enlineaform">
															<div class="help-block with-errors" style="width: 230px;"></div>														
															
															<select id="Tadscripcion" data-error="Ingrese Un Elemento" name="Padscripcion" th:field="${Tresguardante.adscripcion}" class="form-control Letras"onchange="limpiarTR()" required>
															<option value="">Selecciona una Adscripci&oacute;n</option>
															<option th:each="adss : ${adscripciones}"
															th:value="${adss.id_adscripcion}"
															th:utext="${adss.nombre_adscripcion}"></option>
															</select>
															
															<div class="input-group-icon"><i class="fa fa-user"></i></div>
														</div>
														<div class="form-group col-sm-6  enlineaform">
															<button id="cleanT" type="button"
																class="btn btn-primary btn-xs btn-stilo"
																>Limpiar</button>

														</div>
														<!--fin calev -->
													</div>
												
                                           		
                                           	</div>	
                                           	<div class="Paso1 col-sm-5 enlinea" >
                                           		<h3>Datos de Usuarios</h3>
                                           		
                                           		<div class=" col-md-12" id="Contenedorbuscar" >
                               						 	                                				                                        
									    			<div id="Busqueda" class="col-md-6 enlinea">											       											       
												         <input id="searchTerm" class="form-control" name="elemento" type="text" onkeyup="doSearch()" onkeypress="return pulsar(event)"/>												           												           
												    </div>
												    <div class="col-md-2 enlinea" ><i class="fas fa-search"></i></div>
									        		<div id="coincidencias" class="col-md-6"></div>
												</div>
                                           		
                                           		<table class="table table-striped table-bordered fixed_header " id="UsuariosT">
													<thead class="table-success">
														<tr>
															<th style="width:30px"></th>
															<th><div class="celda">Numero de Empleado</div></th>
															<th><div class="celda">Nombre</div></th>
															<th><div class="celda">Primer Apellido</div></th>
															<th><div class="celda">Segundo Apellido</div></th>
															<th style="width:10px" id="cuadrito"></th>																																
														</tr>
													</thead>
													<tbody>
													
														<tr th:each="usuariosql: ${usuarios}" th:if="${usuariosql.enabled} == true">
															<th style="width:30px"><input class="check" type="radio" name="SelUsu" th:id="${usuariosql.nombre}+' '+${usuariosql.apellido1}+' '+${usuariosql.apellido2}" th:value="${usuariosql.no_empleado}"></th>															
															<td th:text="${usuariosql.no_empleado}" class="celda"></td>
															<td th:text="${usuariosql.nombre}" class="celda"></td>
															<td th:text="${usuariosql.apellido1}" class="celda"></td>
															<td th:text="${usuariosql.apellido2}" class="celda"></td>
															<!-- Calev datos extras-->
																<td style="display:none;" th:text="${usuariosql.cargo}" class="celda"></td>
																<td style="display:none;" th:text="${usuariosql.no_licencia}" class="celda"></td>
																<td style="display:none;" th:text="${usuariosql.rfc}" class="celda"></td>
																<td style="display:none;" th:text="${usuariosql.ine}" class="celda"></td>
																<td style="display:none;" th:text="${usuariosql.telefono}" class="celda"></td>
																<td style="display:none;" th:text="${usuariosql.domicilio}" class="celda"></td>
																<td style="display:none;" th:text="${usuariosql.adscripcion.id_adscripcion}" class="celda"></td>
																<!-- fin calev -->																																																
														</tr>
																									
														
													</tbody>
												</table>
                                           		
                                           	</div>	                                           	                                           	
                                           	<div class="Paso2 col-sm-5 enlinea">
                                           		<h3>Datos de Conductores</h3>
                                           		
                                           		<div class=" col-md-12" id="Contenedorbuscar2" >                               						 	                                				                                       
									    			<div id="Busqueda2" class="col-md-6 enlinea">											       											       
												         <input id="searchTerm2" class="form-control" name="elemento" type="text" onkeyup="doSearch2()" onkeypress="return pulsar(event)"/>												           												           
												    </div>
												    <div class="col-md-2 enlinea" ><i class="fas fa-search"></i></div>
									        		<div id="coincidencias2" class="col-md-6"></div>
												</div>
                                           		
                                           		<table class="table table-striped table-bordered fixed_header " id="ConductoresT">
													<thead class="table-success">
														<tr>
															<th style="width:30px"></th>
															<th><div class="celda">Numero de Empleado</div></th>
															<th><div class="celda">Nombre</div></th>
															<th><div class="celda">Primer Apellido</div></th>
															<th><div class="celda">Segundo Apellido</div></th>
															<th style="width:10px" id="cuadrito2"></th>																																
														</tr>
													</thead>
													<tbody>
													
														<tr th:each="conductoresql: ${conductores}" th:if="${conductoresql.enabled} == true">
															<th style="width:30px"><input class="check2" type="radio" name="SelUsu" th:id="${conductoresql.nombre}+' '+${conductoresql.apellido1}+' '+${conductoresql.apellido2}" th:value="${conductoresql.no_empleado}"></th>															
															<td th:text="${conductoresql.no_empleado}" class="celda"></td>
															<td th:text="${conductoresql.nombre}" class="celda"></td>
															<td th:text="${conductoresql.apellido1}" class="celda"></td>
															<td th:text="${conductoresql.apellido2}" class="celda"></td>
															<!-- Calev datos extras-->
																
																<td style="display:none;" th:text="${conductoresql.no_licencia}" class="celda"></td>
																<td style="display:none;" th:text="${conductoresql.rfc}" class="celda"></td>
																<td style="display:none;" th:text="${conductoresql.no_ine}" class="celda"></td>
																<td style="display:none;" th:text="${conductoresql.telefono}" class="celda"></td>
																<td style="display:none;" th:text="${conductoresql.domicilio}" class="celda"></td>
																<td style="display:none;" th:text="${conductoresql.adscripcion.id_adscripcion}" class="celda"></td>
																<!-- fin calev -->																																																
														</tr>
																									
														
													</tbody>
												</table>
                                           		
                                           	</div>	
                                           	<div class="col-sm-12" >
	                                       
	                                        <input type="hidden" th:field="${Presguardante}" th:value="${Presguardante}"/>
	                                        <input type="hidden" th:field="${Sresguardante}" th:value="${Sresguardante}"/>
													
	                                        
	                                                                                
	                                        <button id="finishP1" type="submit" class="btn btn-primary btn-xs col-sm-3 btn-stilo">Guardar</button>
	                                        </div>
	                                    </form>
	                                       	                                        
	                                    </div>
	                                </div>
	                            </div>
	                        </div>
	                    </div>
	                </div>
			</div>
			
		</div>
	</section>	
	
	<script type="text/javascript"  th:inline="javascript">
	
	function doSearch()
    {
        const tableReg = document.getElementById('UsuariosT');
        const searchText = document.getElementById('searchTerm').value.toLowerCase();
        let total = 0;

        // Recorremos todas las filas con contenido de la tabla
	        for (let i = 1; i < tableReg.rows.length; i++) {
	
	            // Si el td tiene la clase "noSearch" no se busca en su cntenido
	
	            if (tableReg.rows[i].classList.contains("noSearch")) {
	                continue;
	            }
	
	            let found = false;
	
	            const cellsOfRow = tableReg.rows[i].getElementsByTagName('td');
	
	            // Recorremos todas las celdas
	
	            for (let j = 0; j < cellsOfRow.length && !found; j++) {
	                const compareWith = cellsOfRow[j].innerHTML.toLowerCase();
	                // Buscamos el texto en el contenido de la celda
	                if (searchText.length == 0 || compareWith.indexOf(searchText) > -1) {
	                    found = true;
	                    total++;
	                }
	            }
	            if (found) {
	                tableReg.rows[i].style.display = '';
	            } else {
	                tableReg.rows[i].style.display = 'none';
	           }
	        }
	        // mostramos las coincidencias
	
	        const lastTR=tableReg.rows[tableReg.rows.length-1];
	
	        const td=lastTR.querySelector("td");
	
	        lastTR.classList.remove("hide", "red");
	
	        if (searchText == "") {
	            //lastTR.classList.add("hide");
	            $('#coincidencias').html("");
	        } else if (total) {
	        	$('#coincidencias').html("Se ha encontrado "+total+" coincidencia"+((total>1)?"s":""));
	        	if(total<10){$("#cuadrito").hide();}else{$("#cuadrito").show();}
	           // td.innerHTML="Se ha encontrado "+total+" coincidencia"+((total>1)?"s":"");
	        } else {
	            lastTR.classList.add("red");
	            $('#coincidencias').html("No se han encontrado coincidencias")
	            $("#cuadrito").show();
	            //td.innerHTML="No se han encontrado coincidencias";
	        }
    }
	
	function doSearch2()
    {
        const tableReg = document.getElementById('ConductoresT');
        const searchText = document.getElementById('searchTerm2').value.toLowerCase();
        let total = 0;

        // Recorremos todas las filas con contenido de la tabla
	        for (let i = 1; i < tableReg.rows.length; i++) {
	
	            // Si el td tiene la clase "noSearch" no se busca en su cntenido
	
	            if (tableReg.rows[i].classList.contains("noSearch2")) {
	                continue;
	            }
	
	            let found = false;
	
	            const cellsOfRow = tableReg.rows[i].getElementsByTagName('td');
	
	            // Recorremos todas las celdas
	
	            for (let j = 0; j < cellsOfRow.length && !found; j++) {
	                const compareWith = cellsOfRow[j].innerHTML.toLowerCase();
	                // Buscamos el texto en el contenido de la celda
	                if (searchText.length == 0 || compareWith.indexOf(searchText) > -1) {
	                    found = true;
	                    total++;
	                }
	            }
	            if (found) {
	                tableReg.rows[i].style.display = '';
	            } else {
	                tableReg.rows[i].style.display = 'none';
	           }
	        }
	        // mostramos las coincidencias
	
	        const lastTR=tableReg.rows[tableReg.rows.length-1];
	
	        const td=lastTR.querySelector("td");
	
	        lastTR.classList.remove("hide", "red");
	
	        if (searchText == "") {
	            //lastTR.classList.add("hide");
	            $('#coincidencias2').html("");
	        } else if (total) {
	        	$('#coincidencias2').html("Se ha encontrado "+total+" coincidencia"+((total>1)?"s":""));
	        	if(total<10){$("#cuadrito2").hide();}else{$("#cuadrito2").show();}
	           // td.innerHTML="Se ha encontrado "+total+" coincidencia"+((total>1)?"s":"");
	        } else {
	            lastTR.classList.add("red");
	            $('#coincidencias2').html("No se han encontrado coincidencias")
	            $("#cuadrito2").show();
	            //td.innerHTML="No se han encontrado coincidencias";
	        }
    }
    
    function pulsar(e) {
    	  tecla = (document.all) ? e.keyCode :e.which;
    	  return (tecla!=13);
    	} 
    
    	
    $(document).ready(function()
    {
    	$(".check").click(function () {	 
    		     		
    			var seleccion = $(this).attr('id');
          		
          		var datos = seleccion.split(" ");
          		var nombre = seleccion.split(" ")[0];
          		var A1 = seleccion.split(" ")[1];
          		var A2 = seleccion.split(" ")[2];          		          	
          		$(".check2").prop("checked",false);
          		$("#Nombre3").val(nombre);
          		$("#A_pa3").val(A1);
          		$("#A_ma3").val(A2);    		    	
    			$("#clean3").show();
    			//CALEV llenar fomulario
				const celdas  = $(this).parent().parent().children();
				console.log(celdas[2].innerHTML);
				$("#cargo3").val(celdas[5].innerHTML);
				$("#Tno_licencia").val(celdas[6].innerHTML);
				$("#Trfc").val(celdas[7].innerHTML);
				$("#Tine").val(celdas[8].innerHTML);
				$("#Ttelefono").val(celdas[9].innerHTML);
				$("#Tdomicilio").val(celdas[10].innerHTML);
				$("#Tadscripcion option[value=\"" + celdas[11].innerHTML +  "\"]").attr("selected", true);
				
				//--calev
    	});
    });
    
    $(document).ready(function()
    	    {
    	    	$(".check2").click(function () {	 
    	    		$(".check").prop("checked",false); 		
    	    			var seleccion = $(this).attr('id');
    	          	
    	          		var datos = seleccion.split(" ");
    	          		var nombre = seleccion.split(" ")[0];
    	          		var A1 = seleccion.split(" ")[1];
    	          		var A2 = seleccion.split(" ")[2];          		          	
    	          		
    	          		$("#Nombre3").val(nombre);
    	          		$("#A_pa3").val(A1);
    	          		$("#A_ma3").val(A2);    		    	
    	    			$("#clean3").show();   
    	    			//CALEV llenar fomulario
    					const celdas  = $(this).parent().parent().children();
    					console.log(celdas[2].innerHTML);
    					$("#Tno_licencia").val(celdas[5].innerHTML);
    					$("#Trfc").val(celdas[6].innerHTML);
    					$("#Tine").val(celdas[7].innerHTML);
    					$("#Ttelefono").val(celdas[8].innerHTML);
    					$("#Tdomicilio").val(celdas[9].innerHTML);
    					$("#Tadscripcion option[value=\"" + celdas[10].innerHTML +  "\"]").attr("selected", true);
    					
    					//--calev
    	    			
    	    	});
    	    	$("#cleanT").on("click",function(){
    				datos();
    			});
    	    });
              
    function limpiarTR()
    {
		
		if($("#Nombre3").val() != "" && $("#A_pa3").val() != "" && $("#A_ma3").val() != "" && $("#cargo3").val() != "" ){						
			
			$("#finishP1").show();
		};
    }
    
    function datos(){
    	$("#Nombre3").val("");
    	$("#A_pa3").val("");
    	$("#A_ma3").val("");
    	$("#cargo3").val("");
    	//CALEV
    	$("#Tno_licencia").val("");
    	$("#Trfc").val("");
    	$("#Tine").val("");
    	$("#Ttelefono").val("");
    	$("#Tdomicilio").val("");
    	$("#Tadscripcion").val("");
    	$("#Tadscripcion option[value=\"\"]").attr("selected",true);
    	//--CALEV
    }

    </script>
	
	
	<script src="/assets/js/CambiosEstado.js"></script>
	<!-- jQuery Library -->
	<script src="/assets/js/jquery-3.4.1.min.js"></script>
	<!-- Popper js -->
	<script src="/assets/js/popper.min.js"></script>
	<!-- Bootstrap Js -->
	<script src="/assets/js/bootstrap.min.js"></script>
	<!-- Form Validator -->
	<script src="/assets/js/validator.min.js"></script>
	<!-- Contact Form Js -->
	<script src="/assets/js/contact-form.js"></script>
	<!-- SweetAlert -->
	<script src="/assets/SweetAlert2/sweetalert2.min.js"></script>
	
 
</body>
</html>
