<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<title>Bajas Usuarios</title>
	<meta charset="utf-8">
	<head th:replace="/layout/layoutHead :: head"></head>
<body th:onload="'Scrol(\''+${Corddocu}+'\',\'' +${Cordtabla}+'\');'">
	<header th:replace="/layout/layoutHead :: header"></header>

	
	<section>
	 <div class="tab-content">
	      <div class="form-group last col-sm-12 fondolistado">
	                <div class="row">
	                    <div class="tab-content">
	                        <div class="col-sm-12" >
	                            <div class="item-wrap">
	                                <div class="row" style="text-align: center;">
	                                
	                                		<div class=" col-md-12" id="Contenedorbuscar" >
	                                		
	                                        	<form id="Busqueda" class="col-md-8" th:action="@{/formUsuBajaBuscar}" style="display: inline-block;">
	                                        		<div class="col-md-1 enlinea" style="text-align: right;" ><i class="fas fa-search"></i></div> 
	                                        		<div class="col-md-5 enlinea">											       											       
											         	<input id="searchTerm" th:value=*{elemento} class="form-control" name="elemento" type="text" onkeyup="doSearch()" onkeypress="return pulsar(event)" required="required"/>												           
											        </div>
											        <div class="col-md-2 enlinea">
											         	<button type="submit" class="btn btn-primary btn-xs btn-stilo" style="width: 100%">Buscar</button>										
											    	</div>	
											    </form>
											    <a class="btn btn-primary btn-xs col-sm-1 btn-stilo" th:href='@{/BajasUsu}' style="width: 47px; height: 42px; float: right; margin-right: 2%;padding : 6px 6px;" ><i class="fas fa-sync-alt fa-1x" style="margin-top: 10%; padding: unset; font-size:25px;"></i></a>										    
											    <a class="btn btn-primary btn-xs col-sm-4 btn-stilo" th:href='@{/Usuarios}' style="width: 47px; height: 42px; float: right; margin-right: 2%;padding : 6px 6px;"><i class="fas fa-arrow-alt-circle-left fa-2x"  style="margin-top: 10%; padding: unset; font-size:25px;"></i></a>											          
											    <div id="coincidencias" class="col-md-8"></div>
											</div>
											
	                                    <div class="col-md-12">
	                                        <h2 th:text="${PageSubTitulo}" class="titulotabla"  ></h2>
										<table class="table table-striped table-bordered fixed_header " id="UsuariosB">
											<thead class="table-success">
												<tr>
												    <th class="celda">Fecha baja</th>
													<th class="celda">Numero de Empleado</th>
													<th class="celda">Nombre</th>
													<th class="celda">Primer Apellido</th>
													<th class="celda">Segundo Apellido</th>
												    <th class="celda" style="width:300px">Adscripcion</th>
													<th class="celda">Estado</th>
													<th class="celda">Opciones</th>	
													<th  style="width:10px" id="tamano" th:if="${tamano} == 'mostrar'"></th>
												</tr>
											</thead>
											<tbody>
												<tr th:each="usuariosql: ${usuarios}">	
										    		
										    		<td th:text="${usuariosql.fecha_baja}" class="celda"></td>																	
													<td th:text="${usuariosql.no_empleado}" class="celda"></td>
													<td th:text="${usuariosql.nombre}" class="celda"></td>
													<td th:text="${usuariosql.apellido1}" class="celda"></td>
													<td th:text="${usuariosql.apellido2}" class="celda"></td>
													<td th:text="${usuariosql.adscripcion.nombre_adscripcion}"  style="width:300px" class="celda"></td>
													<!--<td th:text="${usuariosql.fecha_alta}" class="celda"></td>-->	

													<td th:switch="${usuariosql.enabled} == true" class="celda">															
															<a th:id="estaUsu+${usuariosql.no_empleado}" th:case="true" class="btn btn-success btn-xs sel"  th:text="Activo" style="color:#FFFFFF"></a>
															<a th:id="estaUsu+${usuariosql.no_empleado}" th:case="false" class="btn btn-danger btn-xs sel"  th:text="Inactivo" style="color:#FFFFFF"></a>																								
													</td>
													
													
																																		
											        <td
                                                            class="celda">
														    <a class="btn btn-primary btn-xs sel" th:href="@{/RecuperarUsu/} +${usuariosql.no_empleado}" onclick="return confirm('Seguro que desea recuperar el usuario?');" th:text="Recuperar"></a>										
										
													</td>
													
												</tr>
																							
												
											</tbody>
										</table>
										<nav th:replace="paginator-nav :: paginator"></nav>
										
	
	                                    </div>
	                                </div>
	                            </div>
	                        </div>
	                    </div>
	                </div>
			</div>
			
		</div>
	</section>
	
	<script type="text/javascript"  th:inline="javascript">
	function doSearch()
    {

        const tableReg = document.getElementById('UsuariosB');

        const searchText = document.getElementById('searchTerm').value.toLowerCase();

        let total = 0;

        // Recorremos todas las filas con contenido de la tabla      

	        for (let i = 1; i < tableReg.rows.length; i++) {
	
	            // Si el td tiene la clase "noSearch" no se busca en su cntenido
	
	            if (tableReg.rows[i].classList.contains("noSearch")) {
	                continue;
	            }
	
	            let found = false;
	
	            const cellsOfRow = tableReg.rows[i].getElementsByTagName('td');
	
	            // Recorremos todas las celdas
	
	            for (let j = 0; j < cellsOfRow.length && !found; j++) {
	
	                const compareWith = cellsOfRow[j].innerHTML.toLowerCase();
	
	                // Buscamos el texto en el contenido de la celda
	
	                if (searchText.length == 0 || compareWith.indexOf(searchText) > -1) {
	
	                    found = true;
	
	                    total++;
	                }
	            }
	
	            if (found) {
	
	                tableReg.rows[i].style.display = '';
	
	            } else {
	
	                // si no ha encontrado ninguna coincidencia, esconde la
	
	                // fila de la tabla
	
	                tableReg.rows[i].style.display = 'none';
	           }
	        }
	
	        // mostramos las coincidencias
	
	        const lastTR=tableReg.rows[tableReg.rows.length-1];
	
	        const td=lastTR.querySelector("td");
	
	        lastTR.classList.remove("hide", "red");
	
	        if (searchText == "") {
	
	            //lastTR.classList.add("hide");
	            $('#coincidencias').html("");
	        } else if (total) {
	        	$('#coincidencias').html("Se ha encontrado "+total+" coincidencia"+((total>1)?"s":""));
	        	if(total<5){$("#tamano").hide();}else{$("#tamano").show();}

	           // td.innerHTML="Se ha encontrado "+total+" coincidencia"+((total>1)?"s":"");
	
	        } else {
	
	            lastTR.classList.add("red");
	            $('#coincidencias').html("No se han encontrado coincidencias")
	            $('#tamano').show();

	            //td.innerHTML="No se han encontrado coincidencias";
	        }
	        
    }
    
    function pulsar(e) {
    	  tecla = (document.all) ? e.keyCode :e.which;
    	  return (tecla!=13);
    	} 
  
	    
    </script>
    
    <script src="/assets/js/CambiosEstado.js"></script>
	<!-- jQuery Library -->
	<script src="assets/js/jquery-3.4.1.min.js"></script>
	<!-- Popper js -->
	<script src="assets/js/popper.min.js"></script>
	<!-- Bootstrap Js -->
	<script src="assets/js/bootstrap.min.js"></script>
	<!-- Form Validator -->
	<script src="assets/js/validator.min.js"></script>
	<!-- Contact Form Js -->
	<script src="assets/js/contact-form.js"></script>
 
</body>
</html>
