<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<title>Combustible</title>
	<meta charset="utf-8">
	<head th:replace="/layout/layoutHead :: head"></head>
<body>
	<header th:replace="/layout/layoutHead :: header"></header>
	
	<section>
	 <div class="tab-content">
	      <div class="form-group last col-sm-12 fondolistado">
	                <div class="row">
	                    <div class="tab-content">
	                        <div class="col-sm-12" >
	                            <div class="item-wrap">
	                                <div class="row" style="text-align: center;">
	                               	 <div class=" col-md-10 enlinea">
	                                		<div class="col-md-1 enlinea" style="text-align: right;" ><i class="fas fa-search"></i></div>
	                                        <form class="col-md-6 enlinea">											       											       
										       <input id="searchTerm" class="form-control"  type="text" onkeyup="doSearch()" onkeypress="return pulsar(event)" />											
											</form>
											       <div id="coincidencias" class="col-md-8"></div>
									</div>
	                                    <div class="col-md-12 enlinea">
	                                        <h2 th:text="${titulo}"  style="text-align: center; color:#001e4c; font-weight: 600;  "  ></h2>
										<table class="table fixed_header fixed_Comb" id="combustibleT" style="height: 250px !important;">
											<thead class="table-success">
												<tr>													
													<th>Presupuesto</th>													
													<th>Numero de Tarjeta</th>
													<th>Kilometraje</th>  
													<th>Fecha de Inicio</th>
													<th>Fecha de Fin</th>  												
													<th th:if="${usuario} == 'ROLE_ADMIN' ">Opciones</th>
													<!-- <th>Eliminar</th>
													<th>Asignacion</th>
													<th>Numero unico de Adscripcion</th>-->													
												</tr>
											</thead>
											<tbody style="height: 250px !important;">
												<tr th:each="combustiblesql: ${combustible}" >																									
													<td th:text="${combustiblesql.presupuesto_ord}"></td>
													<td th:text="${combustiblesql.no_tarjeta}"></td>
													<td th:text="${combustiblesql.kilometraje_ord}"></td>
													<td th:text="${combustiblesql.fecha_ini_ord}"></td>	
													<td th:text="${combustiblesql.fecha_fin_ord}"></td>																									
													<td th:if="${usuario} == 'ROLE_ADMIN' ">
													<a class="btn btn-primary btn-xs sel" th:href="@{/formComb/}+${combustiblesql.id_asignacion}"><i class="fas fa-pencil-alt fa-2x"></i></a>
													<a class="btn btn-primary btn-xs sel" th:href="@{/elimComb/}+${combustiblesql.id_asignacion}+'/'+ ${id_vehiculo}" onclick="return confirm('Seguro que desea eliminar?');" ><i class="fas fa-trash-alt fa-2x"></i></a>													
													<button th:onclick="'javascript:btnimg('+ ${combustiblesql.id_asignacion}+' )'" th:name="${combustiblesql.id_asignacion}" type="button" class="btn btn-primary btn-xs sel" data-toggle="modal" data-target=".bd-example-modal-sm"><i class="far fa-eye fa-2x"></i></button>													
													<a class="btn btn-primary btn-xs sel" th:if="${existeAsignacion} == true" th:href="@{/Addext/}+${combustiblesql.id_asignacion}"  th:text="'Asignar Extemporaneo'" style="width: 200px; margin-top:3px;"></a>													
													</td>
												</tr>
												<tr><td colspan="3" th:text="'Asignaciones Extraordinarias'"></td></tr>
												<tr th:each="combustiblesql: ${combustibleext}" >																									
													<td th:text="${combustiblesql.presupuesto_ext}"></td>
													<td th:text="${combustiblesql.asigCombustible.no_tarjeta}"></td>
													<td th:text="${combustiblesql.kilometraje_ext}"></td>
													<td th:text="${combustiblesql.fecha_ini_ext}"></td>	
													<td th:text="${combustiblesql.fecha_fin_ext}"></td>																									
													<td th:if="${usuario} == 'ROLE_ADMIN' ">
													<a class="btn btn-primary btn-xs sel" th:href="@{/formCombext/}+${combustiblesql.id_asignacion}"><i class="fas fa-pencil-alt fa-2x"></i></a>
													<a class="btn btn-primary btn-xs sel" th:href="@{/elimCombext/}+${combustiblesql.id_asignacion}+'/'+ ${id_vehiculo}" onclick="return confirm('Seguro que desea eliminar?');"><i class="fas fa-trash-alt fa-2x"></i></a>													
													<button th:onclick="'javascript:btnimgext('+ ${combustiblesql.id_asignacion}+' )'" th:name="${combustiblesql.id_asignacion}" type="button" class="btn btn-primary btn-xs sel" data-toggle="modal" data-target=".bd-example-modal-sm"><i class="far fa-eye fa-2x"></i></button>												
													</td>
												</tr>
											</tbody>
										</table>
										
										<div class="form-group last col-sm-12 enlinea">
										<a class="btn btn-primary btn-xs col-sm-2 btn-stilo" th:if="${ascombus} == true"  th:href="@{/formComb/Ag/} + ${id_vehiculo}"  style="float:right;margin-left: 1%;margin-right: 1%;">Agregar</a>
										
										</div>
	                                    </div>
	                                    
	                                    <div class="col-md-12 enlinea">
	                                        <h2 th:text="${titulo2}"  style="text-align: center; color:#001e4c; font-weight: 600;  "  ></h2>
										<table class="table fixed_header fixed_Comb" id="combustibleT" >
											<thead class="table-success">
												<tr>													
													<th>Presupuesto</th>													
													<th>Numero de Tarjeta</th>
													<th>Kilometraje</th>  
													<th>Fecha de Inicio</th>
													<th>Fecha de Fin</th>  																																																	
												</tr>
											</thead>
											<tbody >
												<tr th:each="combustiblesql: ${combustibleHisto}" >																									
													<td th:text="${combustiblesql.presupuesto_ord}"></td>
													<td th:text="${combustiblesql.no_tarjeta}"></td>
													<td th:text="${combustiblesql.kilometraje_ord}"></td>
													<td th:text="${combustiblesql.fecha_ini_ord}"></td>	
													<td th:text="${combustiblesql.fecha_fin_ord}"></td>																																																			
												</tr>
												<tr><td colspan="3" th:text="'Asignaciones Extraordinarias'"></td></tr>
												<tr th:each="combustiblesql: ${combustibleExtHisto}" >																									
													<td th:text="${combustiblesql.presupuesto_ext}"></td>
													<td th:text="${combustiblesql.asigCombustible.no_tarjeta}"></td>
													<td th:text="${combustiblesql.kilometraje_ext}"></td>
													<td th:text="${combustiblesql.fecha_ini_ext}"></td>	
													<td th:text="${combustiblesql.fecha_fin_ext}"></td>																																						
												</tr>
											</tbody>
										</table>
																				
	                                    </div>
	                                    
	                                </div>
	                            </div>
	                        </div>
	                    </div>
	                </div>
			</div>
			
		</div>
	</section>
	
	<div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div id="imgOdo">
      </div>
    </div>
  </div>
</div>
	
	<script type="text/javascript"  th:inline="javascript">
	
	function doSearch()

    {

        const tableReg = document.getElementById('combustibleT');

        const searchText = document.getElementById('searchTerm').value.toLowerCase();

        let total = 0;

        // Recorremos todas las filas con contenido de la tabla
       

	        for (let i = 1; i < tableReg.rows.length; i++) {
	
	            // Si el td tiene la clase "noSearch" no se busca en su cntenido
	
	            if (tableReg.rows[i].classList.contains("noSearch")) {
	                continue;
	            }
	
	            let found = false;
	
	            const cellsOfRow = tableReg.rows[i].getElementsByTagName('td');
	
	            // Recorremos todas las celdas
	
	            for (let j = 0; j < cellsOfRow.length && !found; j++) {
	
	                const compareWith = cellsOfRow[j].innerHTML.toLowerCase();
	
	                // Buscamos el texto en el contenido de la celda
	
	                if (searchText.length == 0 || compareWith.indexOf(searchText) > -1) {
	
	                    found = true;
	
	                    total++;
	                }
	            }
	
	            if (found) {
	
	                tableReg.rows[i].style.display = '';
	
	            } else {
	
	                // si no ha encontrado ninguna coincidencia, esconde la
	
	                // fila de la tabla
	
	                tableReg.rows[i].style.display = 'none';
	           }
	        }
	
	        // mostramos las coincidencias
	
	        const lastTR=tableReg.rows[tableReg.rows.length-1];
	
	        const td=lastTR.querySelector("td");
	
	        lastTR.classList.remove("hide", "red");
	
	        if (searchText == "") {
	
	            //lastTR.classList.add("hide");
	            $('#coincidencias').html("");
	        } else if (total) {
	        	$('#coincidencias').html("Se ha encontrado "+total+" coincidencia"+((total>1)?"s":""));
	           // td.innerHTML="Se ha encontrado "+total+" coincidencia"+((total>1)?"s":"");
	
	        } else {
	
	            lastTR.classList.add("red");
	            $('#coincidencias').html("No se han encontrado coincidencias")
	            //td.innerHTML="No se han encontrado coincidencias";
	        }
        
    }
    
    function pulsar(e) {
    	  tecla = (document.all) ? e.keyCode :e.which;
    	  return (tecla!=13);
    	} 
    
    function string mes(){		
		var month = d.getMonth()+1;
		
		var output = ((month<10 ? '0' : '') + month);
		return output;
	}
    </script>
	<!-- jQuery Library -->
	<script src="/assets/js/jquery-3.4.1.min.js"></script>
	<!-- Popper js -->
	<script src="/assets/js/popper.min.js"></script>
	<!-- Bootstrap Js -->
	<script src="/assets/js/bootstrap.min.js"></script>
	<!-- Form Validator -->
	<script src="/assets/js/validator.min.js"></script>
	<!-- Contact Form Js -->
	<script src="/assets/js/contact-form.js"></script>
 	<script type="text/javascript">
 	function btnimg(id){		
		$('#imgOdo').load('refreshImg','id_asignacion='+id);
	}
 	
 	function btnimgext(id){		
		$('#imgOdo').load('refreshImgext','id_asignacion='+id);
	}
 	</script>

</body>
</html>