<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<title>Adscripcion</title>
<meta charset="utf-8">
	<head th:replace="/layout/layoutHead :: head"></head>
<body>
	<header th:replace="/layout/layoutHead :: header"></header>
<section>
	 <div class="tab-content">
	      <div class="form-group last col-sm-12 formfondo" >
	                <div class="row">
	                    <div class="tab-content">
	                        <div class="col-sm-12">
	                            <div class="item-wrap">
	                                <div class="row">
	                                    <div class="col-md-12">
	                                        <form th:action="@{/formAds}" th:object="${adscripcion}" method="post" id="formulario"  name="visitas" data-toggle="validator" class="popup-form">
	                                            <div class="row">
	                                            
	                                    
	                                                    <!--nombre Adscripcion-->
	                                                    <div class="form-group col-sm-9">
	                                                            <div class="help-block with-errors"></div>
	                                                            <input th:field="*{nombre_adscripcion}" id="Nom_Ads" placeholder="Nombre de Adscripcion"  onkeypress="return letras(event);" class="form-control" type="text" required data-error="Ingrese el nombre de la Adscripcion"/>
	                                                            <div class="input-group-icon"><i class="fa fa-user"></i></div>
	                                                    </div>
	                                                    
	                                                       
	                                                    <div style="width: 20%; display: inline-block;">
										                 <input type="text" readonly="readonly" placeholder="ADSCRIPCION" class="form-control">
												        </div>
												        
	                                                    <!--Calle-->
	
	                                                    <div class="form-group col-sm-9">
	                                                            <div class="help-block with-errors"></div>
	                                                            <input th:field="*{calle}"  id="Calle" placeholder="Calle"  class="form-control Calle" type="text" required data-error="Ingrese su Calle"/>
	                                                            <div class="input-group-icon"><i class="fas fa-map-marker-alt"></i></div>
	                                                    </div>
	                                                    
	                                                       
	                                                    <div style="width: 20%; display: inline-block;">
										                 <input type="text" readonly="readonly" placeholder="CALLE" class="form-control">
												        </div>
	
	                                                    <!--Numero-->
	                                                    <div class="form-group col-sm-9">
	                                                            <div class="help-block with-errors"></div>
	                                                            <input th:field="*{numero}"  id="Num" placeholder="Numero" class="form-control signos" type="number" required data-error="Ingrese un Numero Valido"/>
	                                                            <div class="input-group-icon"><i class="fas fa-hashtag"></i></div>
	                                                    </div>
	                                                    
	                                                       
	                                                    <div style="width: 20%; display: inline-block;">
										                 <input type="text" readonly="readonly" placeholder="NUMERO" class="form-control">
												        </div>
	
	                                                    <!--Alcaldia-->
	                                                    <div class="form-group col-sm-9">
	                                                            <div class="help-block with-errors"></div>
	                                                            <input th:field="*{alcaldia}"  id="Alc" placeholder="Alcaldia"  onkeypress="return letras(event);" class="form-control" type="text" required data-error="Ingrese Alcaldia Correspondiente"/>
	                                                            <div class="input-group-icon"><i class="fas fa-thumbtack"></i></div>
	                                                    </div>
	                                                    
	                                                       
	                                                    <div style="width: 20%; display: inline-block;">
										                 <input type="text" readonly="readonly" placeholder="ALCALDIA" class="form-control">
												        </div>
	
	                                                    <!--Codigo Postal-->
	                                                    <div class="form-group col-sm-9">
	                                                            <div class="help-block with-errors"></div>
	                                                            <input th:field="*{codigo_postal}" min=1 max=99999 onchange="codigo()" id="Co_po" placeholder="Codigo Postal" class="form-control signos" type="number" required data-error="Ingrese Codigo Postal Valido"/>
	                                                            <div class="input-group-icon"><i class="fas fa-hashtag"></i>	</div>
	                                                    </div>
	                                                    
	                                                       
	                                                    <div style="width: 20%; display: inline-block;">
										                 <input type="text" readonly="readonly" placeholder="CODIGO POSTAL" class="form-control">
												        </div>
	
	
	                                                    <!--Entidad -->
	                                                    <div class="form-group col-sm-9">
	                                                            <div class="help-block with-errors"></div>
	                                                            <input th:field="*{entidad}"  id="Enti" placeholder="Ingrese Entidad"  onkeypress="return letras(event);" class="form-control" type="text" required data-error="Ingrese Entidad Valida"/>
	                                                            <div class="input-group-icon"><i class="fas fa-atlas"></i></div>
	                                                    </div>
	                                                    	    
	                                                       
	                                                    <div style="width: 20%; display: inline-block;">
										                 <input type="text" readonly="readonly" placeholder="ENTIDAD" class="form-control">
												        </div>
	                                                    	    
	                                                <input type="hidden" th:field="*{id_adscripcion}" />
	                                                    	                                                    	                                                    													    													    	                                                    									
	                                                    <!--Boton Guardar-->
	                                                    <div class="form-group last col-sm-12">
	                                                            <button type="submit" id="guardar" class="btn btn-custom"><i class='fa fa-envelope'></i> Guardar</button>
	                                                    </div>
	                                                    <div class="clearfix"></div>
	                                            </div>
	                                        </form>
	                                    </div>
	                                </div>
	                            </div>
	                        </div>
	                    </div>
	                </div>
			</div>
			
		</div>
	</section>
	<script type="text/javascript">
		
	function IDADS(){
		ID = document.getElementById("Id_Ads").value;
		if(ID.length<1 ||ID.length>10){
			$(".with-errors").show();
		}
	}
	
	function codigo(){
		CP = document.getElementById("Co_po").value;
		if(CP.length<5 ||CP.length>5){
			$(".with-errors").show();
		}
	}
	
	
	</script>
	<script src="/assets/js/CambiosEstado.js"></script>	
	<!-- jQuery Library -->
	<script src="/assets/js/jquery-3.4.1.min.js"></script>
	<!-- Popper js -->
	<script src="/assets/js/popper.min.js"></script>
	<!-- Bootstrap Js -->
	<script src="/assets/bootstrap/js/bootstrap.min.js"></script>
	<!-- Form Validator -->
	<script src="/assets/js/validator.min.js"></script>
	<!-- Contact Form Js -->
	<script src="/assets/js/contact-form.js"></script>
    <script src="/assets/SweetAlert2/sweetalert2.min.js"></script>
 
</body>
</html>

