<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<title>Vehiculos</title>
<meta charset="utf-8">
<head th:replace="/layout/layoutHeadMetaData :: head"></head>
<body>
	<header th:replace="/layout/layoutHeadMetaData :: header"></header>
	<section>
		<div class="tab-content">
			<div class="form-group last col-sm-12 formfondo">
				<div class="row">
					<div class="tab-content">
						<div class="col-sm-12">
							<div class="item-wrap">
								<div class="row">
									<div class="col-md-12">
										<form th:action="@{/formVehiBaja}" th:object="${baja}"
											enctype="multipart/form-data" method="post" id="formulario"
											data-toggle="validator" class="popup-form">
											<div class="row">

												<div class="border col-sm-12">

													<!--Numero de placa-->
													<div class="form-group col-sm-3 enlineaform">
														<div class="help-block with-errors" style="width: 261px;"></div>
														<input th:field="*{vehiculo.placa}" name="fname" id="N_Placa"
															placeholder="Placa" class="form-control Letrasnum"
															type="text" required
															data-error="Ingrese El Numero de Placa">
														<div class="input-group-icon">
															<i class="fa fa-user"></i>
														</div>
													</div>
													
													<div class="form-group col-sm-2 enlineaform">
														<input placeholder="Placa" class="form-control" disabled>
													</div>

													<div class="form-group col-sm-5 enlineaform"></div>

													<!-- Estado -->
													
													<div class="form-group col-sm-4 enlineaform">
													  <div class="help-block with-errors" style="width: 261px;"></div>
														<input th:field="*{vehiculo.vehiculo_estado.nombre_estado}" name="fname" id="N_Placa"
															placeholder="Placa" class="form-control Letrasnum"
															type="text" required
															data-error="Ingrese El Numero de Placa">
														<div class="input-group-icon">
															<i class="far fa-building"></i>
														</div>
													</div>


													<!--Adscripción-->

													<div class="form-group col-sm-6 enlineaform">
													   <div class="help-block with-errors" style="width: 261px;"></div>
														<input th:field="*{vehiculo.adscripcion.nombre_adscripcion}" name="fname" id="N_Placa"
															placeholder="Placa" class="form-control Letrasnum"
															type="text" required
															data-error="Ingrese El Numero de Placa">
														<div class="input-group-icon">
															<i class="far fa-building"></i>
														</div>
													</div>
													
													
												<div class="form-group col-sm-12 enlineaform"></div>
												
													<h3>Datos Generales</h3>

													<!--kilometros -->

													<div class="form-group col-sm-3 enlineaform">
														<div class="help-block with-errors" style="width: 261px;"></div>
														<input th:field="*{vehiculo.kilometraje_inicial}" id="D_re"
															class="form-control numpunto" type="number" min="0.0"
															max="100000000000000" required step="any"
															data-error="Ingrese La Distancia Recorrida">
														<div class="input-group-icon">
															<i class="fas fa-tachometer-alt"></i>
														</div>
													</div>
													<div class="form-group col-sm-2 enlineaform">
														<input placeholder="Kilometros" class="form-control"
															disabled>
													</div>

													<!--Numero de serie-->

													<div class="form-group col-sm-3 enlineaform">
														<div class="help-block with-errors"></div>
														<input th:field="*{vehiculo.no_serie}" id="N_serie"
															placeholder="Numero de Serie" class="form-control signos"
															type="text" required
															data-error="Ingrese El Numero de Serie">
														<div class="input-group-icon">
															<i class="fas fa-ad"></i>
														</div>
													</div>
													<div class="form-group col-sm-2 enlineaform">
														<input placeholder="No. serie" class="form-control"
															disabled>
													</div>

													<!--Numero de inventario-->

													<div class="form-group col-sm-3 enlineaform">
														<div class="help-block with-errors"></div>
														<input th:field="*{vehiculo.no_inventario}" id="N_serie"
															placeholder="Numero de Inventario"
															class="form-control signos" type="text" required
															data-error="Ingrese El Numero de Inventario">
														<div class="input-group-icon">
															<i class="fas fa-ad"></i>
														</div>
													</div>
													<div class="form-group col-sm-3 enlineaform">
														<input placeholder="Numero de Inventario"
															class="form-control" disabled>
													</div>

													<div class="form-group col-sm-5 enlineaform"></div>

													<!--Vale-->

													<!-- <div class="form-group col-sm-3 enlineaform">
														<div class="help-block with-errors" style="width: 261px;"></div>
														<input th:field="*{vale}" id="vale"
															class="form-control Letrasnum" type="text"
															placeholder="Vale" required data-error="Ingrese El Vale">
														<div class="input-group-icon">
															<i class="fas fa-file-invoice-dollar"></i>
														</div>
													</div>
													<div class="form-group col-sm-3 enlineaform">
														<input placeholder="Vale" class="form-control" disabled>
													</div> -->
													
												<div class="form-group col-sm-3 enlineaform">
												
												<div class="help-block with-errors"></div>
														<input th:field="*{vehiculo.tipo_vale.descr_vale}" id="N_serie"
															placeholder="Numero de Inventario"
															class="form-control signos" type="text" required
															data-error="Ingrese El Numero de Inventario">
														<div class="input-group-icon">
															<i class="fas fa-ad"></i>
														</div>
												</div>
												
													<div class="form-group col-sm-3 enlineaform">
													<input placeholder="Tipo de Vale"
														class="form-control" disabled>
												</div>
													
												<div class="form-group col-sm-5 enlineaform"></div>
								
													<!--Numero de tarjeta-->
													<!-- BRENDA -->


													<div class="form-group col-sm-3 enlineaform">
														<div class="help-block with-errors" style="width: 261px;"></div>

														<input th:field="*{vehiculo.no_tarjeta}" id="no_tarjeta"
															placeholder="Numero de Tarjeta"
															class="form-control signos" type="text" required
															data-error="Ingrese el Numero de Tarjeta">

														<div class="input-group-icon">
															<i class="fas fa-file-invoice-dollar"></i>
														</div>
													</div>
													<div class="form-group col-sm-4 enlineaform">
														<input placeholder="Numero de Tarjeta"
															class="form-control" disabled>
													</div>

													<div class="form-group col-sm-2 enlineaform"></div>

													<!-- BRENDA -->

													<!--Fecha de alta-->
													<!-- BRENDA -->

													<div>

														<div class="form-group col-sm-3 enlineaform">
															<div class="help-block with-errors" style="width: 261px;"></div>

															<input th:field="*{vehiculo.fecha_alta}" id="fecha_alta"
																min="01/01/1900" max="01/01/2090"
																class="form-control signos" type="date" disabled
																>

															<div class="input-group-icon">
																<i class="fas fa-file-invoice-dollar"></i>
															</div>
														</div>
														<div class="form-group col-sm-4 enlineaform">
															<input placeholder="Fecha de Alta" class="form-control"
																disabled>
														</div>

														<div class="form-group col-sm-2 enlineaform"></div>

													</div>
													<!-- BRENDA -->
													
													<div>

														<div class="form-group col-sm-3 enlineaform">
															<div class="help-block with-errors" style="width: 261px;"></div>

															<input th:field="*{fecha_baja}" id="fecha_alta"
																min="01/01/1900" max="01/01/2090"
																class="form-control signos" type="date" disabled
																>

															<div class="input-group-icon">
																<i class="fas fa-file-invoice-dollar"></i>
															</div>
														</div>
														<div class="form-group col-sm-4 enlineaform">
															<input placeholder="Fecha de Baja" class="form-control"
																disabled>
														</div>

														<div class="form-group col-sm-2 enlineaform"></div>

													</div>

													<!--Fecha de tarjeta-->

													<div class="form-group col-sm-3 enlineaform">
														<div class="help-block with-errors" style="width: 261px;"></div>

														<input th:field="*{vehiculo.fecha_tarjeta}" id="fecha_tarjeta"
															min=01/01/1900 max=01/01/2090 class="form-control signos"
															type="date" required
															data-error="Ingrese la fecha de tarjeta">

														<div class="input-group-icon">
															<i class="fas fa-file-invoice-dollar"></i>
														</div>
													</div>
													<div class="form-group col-sm-4 enlineaform">
														<input placeholder="Fecha de Tarjeta" class="form-control"
															disabled>
													</div>

												</div>

												<div class="form-group col-sm-12 enlineaform"
													th:if="${editando} == 'si'">
													<h3>Datos No editables</h3>
												</div>

												
													<div class="form-group col-sm-4 enlineaform">
														<input th:value="${vehiculo.vehiculo_marca.nombre_marca}"
															id="modelo" class="form-control signos" type="text"
															disabled>
													</div>
													
													<div class="form-group col-sm-5 enlineaform">
														<input placeholder="Marca" class="form-control" disabled>
													</div>
													
													<div class="form-group col-sm-4 enlineaform">
														<input th:value="${vehiculo.vehiculo_marca.nombre_submarca}" id="modelo" class="form-control signos" type="text" disabled>
													</div>
													
													<div class="form-group col-sm-5 enlineaform">
														<input placeholder="SubMarca" class="form-control" disabled>
													</div>
													
													<div class="form-group col-sm-4 enlineaform">
														<input th:value="${vehiculo.vehiculo_marca.modelo}" id="modelo" class="form-control signos" type="text" disabled>
													</div>
													
													<div class="form-group col-sm-5 enlineaform">
														<input placeholder="Modelo" class="form-control" disabled>
													</div>

													<div class="form-group col-sm-4 enlineaform">
														<input th:value="${vehiculo.vehiculo_marca.clase}" id="clase" class="form-control soloLetras" type="text" disabled>
													</div>
													
													<div class="form-group col-sm-5 enlineaform">
														<input placeholder="Clase" class="form-control" disabled>
													</div>

													<div class="form-group col-sm-4 enlineaform">
														<input th:value="${vehiculo.vehiculo_marca.tipo}" id="tipo" class="form-control soloLetras" type="text" disabled>
													</div>
													
													<div class="form-group col-sm-5 enlineaform">
														<input placeholder="Tipo" class="form-control" disabled>
													</div>
													
													<div class="form-group col-sm-2 enlineaform"></div>
													
											   
												<div class="form-group col-sm-12 enlineaform">
													<h3>Caracteristicas del vehiculo</h3>
												</div>

												<div class="border col-sm-12 enlineaform">
												
												<!--Transmision-->

													<div class="form-group col-sm-2 enlineaform">
														<div class="help-block with-errors" style="width: 261px;"></div>

														<input th:field="*{vehiculo.vehiculo_transmision.nombre_transmision}" id="transmision" class="form-control soloLetras" type="text" required data-error="Ingrese la transmision">
														<div class="input-group-icon">
															<i class="fas fa-file-invoice-dollar"></i>
														</div>
													</div>
													
													<div class="form-group col-sm-2 enlineaform">
														<input placeholder="Transmision del vehiculo" class="form-control"
															disabled>
													</div>
													
													
												<!--Funcion-->

													<div class="form-group col-sm-2 enlineaform">
														<div class="help-block with-errors" style="width: 261px;"></div>

														<input th:field="*{vehiculo.vehiculo_funcion.id_funcion}" id="funcion" class="form-control soloLetras" type="text" required data-error="Ingrese la funcion">
														<div class="input-group-icon">
															<i class="fas fa-file-invoice-dollar"></i>
														</div>
													</div>
													
													<div class="form-group col-sm-2 enlineaform">
														<input placeholder="Funcion a desempe&ntilde;ar" class="form-control"
															disabled>
													</div>
													
												<div class="form-group col-sm-2 enlineaform"></div>
													
												<!--Rin-->
												
													<div class="form-group col-sm-2 enlineaform">
														<div class="help-block with-errors" style="width: 261px;"></div>

														<input th:field="*{vehiculo.vehiculo_detalle.rin}" id="rin"
															class="form-control soloLetras" type="number" required
															data-error="Ingrese el tamaño de Rin">

														<div class="input-group-icon">
															<i class="fas fa-file-invoice-dollar"></i>
														</div>
													</div>
													
													<div class="form-group col-sm-2 enlineaform">
														<input placeholder="Tama&ntilde;o del Rin" class="form-control" disabled>
													</div>
													
												<!--Color-->

													<div class="form-group col-sm-2 enlineaform">
														<div class="help-block with-errors" style="width: 261px;"></div>
														<div style="text-align: right;">
															<input type="text" class="form-control soloLetras"  th:field="*{vehiculo.vehiculo_detalle.color}">
														</div>
														<div class="input-group-icon">
															<i class="fas fa-file-invoice-dollar"></i>
														</div>
													</div>
													
													<div class="form-group col-sm-2 enlineaform">
														<input placeholder="Color" class="form-control" disabled>
													</div>
													
											   <div class="form-group col-sm-2 enlineaform"></div>
													
												<!--No cilindros-->

													<div class="form-group col-sm-2 enlineaform">
														<div class="help-block with-errors" style="width: 261px;"></div>

														<input th:field="*{vehiculo.vehiculo_detalle.no_cilindros}"
															id="no_cilindros" min=1 max=30
															class="form-control signos" type="number" required
															data-error="Ingrese la Cantidad de Cilindros">

														<div class="input-group-icon">
															<i class="fas fa-file-invoice-dollar"></i>
														</div>
													</div>
													<div class="form-group col-sm-2 enlineaform">
														<input placeholder="Numero de Clilindros"
															class="form-control" disabled>
													</div>
													
													<!--No personas-->
													
													<div class="form-group col-sm-2 enlineaform">
														<div class="help-block with-errors" style="width: 261px;"></div>

														<input th:field="*{vehiculo.vehiculo_detalle.no_personas}"
															id="no_personas" min=1 max=20 class="form-control signos"
															type="number" required
															data-error="Ingrese la fecha de tarjeta">

														<div class="input-group-icon">
															<i class="fas fa-file-invoice-dollar"></i>
														</div>
													</div>
													<div class="form-group col-sm-2 enlineaform">
														<input placeholder="Personas" class="form-control"
															disabled>
													</div>
													
													<div class="form-group col-sm-2 enlineaform"></div>
													
													<!--No puertas-->

													<div class="form-group col-sm-2 enlineaform">
														<div class="help-block with-errors" style="width: 261px;"></div>

														<input th:field="*{vehiculo.vehiculo_detalle.no_puertas}"
															id="no_puertas" min=0 max=8 class="form-control signos"
															type="number" required
															data-error="Ingrese la fecha de tarjeta">

														<div class="input-group-icon">
															<i class="fas fa-file-invoice-dollar"></i>
														</div>
													</div>
										
													<div class="form-group col-sm-2 enlineaform">
														<input placeholder="Puertas" class="form-control" disabled>
													</div>

													<div class="form-group col-sm-6 enlineaform"></div>
													
														<!--Balisado-->

													<div class="form-group col-sm-2 enlineaform"
														style="height: 17%;">
														<div class="help-block with-errors" style="width: 261px;"></div>
														<div style="text-align: right;">

															<div class="form-check form-check-inline">
																<input class="form-check-input" type="radio"
																	th:field="*{vehiculo.vehiculo_detalle.balisado}"
																	name="inlineRadioOptions" id="inlineRadio1" value="1">
																<label class="form-check-label" for="inlineRadio1"
																	th:text="SI"></label>
															</div>

															<div class="form-check form-check-inline">
																<input class="form-check-input" type="radio"
																	th:field="*{vehiculo.vehiculo_detalle.balisado}"
																	name="inlineRadioOptions" id="inlineRadio2" value="0">
																<label class="form-check-label" for="inlineRadio1"
																	th:text="NO"></label>
															</div>

														</div>

													</div>
													
													<!--Blindaje-->
													
													<div class="form-group col-sm-2 enlineaform">
														<input placeholder="Balisado" class="form-control"
															disabled>
													</div>
													<div class="form-group col-sm-3 enlineaform">
														<div class="help-block with-errors" style="width: 261px;"></div>
														<div style="text-align: right;">
															<div class="form-check form-check-inline">
																<input class="form-check-input" type="radio"
																	th:field="*{vehiculo.vehiculo_detalle.blindaje}"
																	name="inlineRadioOptions" id="inlineRadio3" value="1">
																<label class="form-check-label" for="inlineRadio3"
																	th:text="SI"></label>
															</div>

															<div class="form-check form-check-inline">
																<input class="form-check-input" type="radio"
																	th:field="*{vehiculo.vehiculo_detalle.blindaje}"
																	name="inlineRadioOptions" id="inlineRadio4" value="0">
																<label class="form-check-label" for="inlineRadio4"
																	th:text="NO"></label>
															</div>
														</div>

													</div>
													<div class="form-group col-sm-2 enlineaform">
														<input placeholder="¿tiene blindaje?" class="form-control"
															disabled>
													</div>	
												
												</div>
												<!--No motor-->
												
												<div class="col-sm-12 enlineaform">

													<div class="form-group col-sm-2 enlineaform">
														<div class="help-block with-errors" style="width: 261px;"></div>

														<input th:field="*{vehiculo.vehiculo_detalle.no_motor}"
															id="no_motor" class="form-control soloLetras" type="text"
															required data-error="Ingrese el numero de motor">

														<div class="input-group-icon">
															<i class="fas fa-file-invoice-dollar"></i>
														</div>
													</div>
													<div class="form-group col-sm-2 enlineaform">
														<input placeholder="Numero de Motor" class="form-control"
															disabled>
													</div>
													
													<!--No economico-->
													
													<div class="form-group col-sm-2 enlineaform">
														<div class="help-block with-errors" style="width: 261px;"></div>

														<input th:field="*{vehiculo.vehiculo_detalle.no_economico}"
															id="no_economico" class="form-control signos" type="text"
															required data-error="Ingrese el numero economico">

														<div class="input-group-icon">
															<i class="fas fa-file-invoice-dollar"></i>
														</div>
													</div>
													<div class="form-group col-sm-3 enlineaform">
														<input placeholder="Numero Economico" class="form-control"
															disabled>
													</div>
													
													<div class="form-group col-sm-2 enlineaform"></div>

												<!--Fecha compra-->

													<div class="form-group col-sm-2 enlineaform">
														<div class="help-block with-errors" style="width: 261px;"></div>

														<input th:field="*{vehiculo.vehiculo_detalle.fecha_compra}"
															id="fecha_compra" min=01-01-1900 max=01-01-2090
															class="form-control signos" type="date" required
															data-error="Ingrese la fecha de compra">

														<div class="input-group-icon">
															<i class="fas fa-file-invoice-dollar"></i>
														</div>
													</div>
													<div class="form-group col-sm-2 enlineaform">
														<input placeholder="Fecha de compra" class="form-control"
															disabled>
													</div>
													
													<!--Valor Compra-->
													
													<div class="form-group col-sm-2 enlineaform">
														<div class="help-block with-errors" style="width: 261px;"></div>

														<input th:field="*{vehiculo.vehiculo_detalle.valor_compra}"
															step="any" id="valor_compra" min=0.0 max=1000000.0
															class="form-control signos" type="number" required
															data-error="Ingrese el valor de la compra">

														<div class="input-group-icon">
															<i class="fas fa-file-invoice-dollar"></i>
														</div>
													</div>
													<div class="form-group col-sm-2 enlineaform">
														<input placeholder="Valor de la compra"
															class="form-control" disabled>
													</div>
																
													<div class="col-sm-3 enlineaform"></div>
																							
													<!--Tipo Combustible-->

													<div class="form-group col-sm-2 enlineaform">
														<div class="help-block with-errors" style="width: 261px;"></div>
														<input th:field="*{vehiculo.vehiculo_detalle.tipo_combustible}"
															class="form-control soloLetras" type="text" required
															data-error="Ingrese el valor de la compra">
															
														<div class="input-group-icon">
															<i class="fas fa-file-invoice-dollar"></i>
														</div>
													</div>
													<div class="form-group col-sm-3 enlineaform">
														<input placeholder="Tipo de Combustible"
															class="form-control" disabled>
													</div>
													
													</div>
													
													<!--Tarjeta de circulacion-->

												<div class="col-sm-12 enlineaform" th:if="${editando}=='si'">
													<div class="col-sm-12">
														<h3 style="wodth: 100%">Documentos</h3>

														<div id="aBtnGroup" class="btn-group">
															<button type="button" value="D" class="btn btn-default">Documento</button>
														</div>
															  

														<div id="Mdocumento">
														
														<div id="aBtnGroupD" class="btn-group">
															    <button type="button" value="TC" class="btn btn-default">TARJETA DE CIRCULACION</button>
															    <button type="button" value="AF" class="btn btn-default">ACTA FINIQUITO</button>	
															    <button type="button" value="OB" class="btn btn-default">OFICIO BAJA</button>	
															    <button type="button" value="DI" class="btn btn-default">DICTAMEN</button>
													    </div>
															  
														<div th:if="${tcirculacion} == 'existe'" id="TCdoc" class="card-body justify-content-center col-sm-12">
															<div  class="card-body d-flex justify-content-center col-sm-12" >
																<embed th:src="@{'/upload/' + *{vehiculo.vehiculo_detalle.tarjeta_circulacion}}" type="application/pdf" class="col-sm-12" style="height: 715px;" />
															</div>
														</div>	 
														
														
													    <div th:if="${tcirculacion} == 'noexiste'" id="TCdoc" class="card-body justify-content-center col-sm-12">
															<h1>El Documento no existe en la base de datos</h1>
														</div>	 
														
														<div th:if="${actafnq} == 'existe'" id="AFdoc" class="card-body justify-content-center col-sm-12">
															<div  class="card-body d-flex justify-content-center col-sm-12" >
																<embed th:src="@{'/upload/' + *{url_acta_fnq}}" type="application/pdf" class="col-sm-12" style="height: 715px;" />
															</div>
														</div>	
														
														<div th:if="${actafnq} == 'noexiste'" id="AFdoc" class="card-body justify-content-center col-sm-12">
															<h1>El Documento no existe en la base de datos</h1>
														</div>	
														
														<div th:if="${oficiobaja} == 'existe'" id="OBdoc" class="card-body justify-content-center col-sm-12">
															<div  class="card-body d-flex justify-content-center col-sm-12" >
																<embed th:src="@{'/upload/' + *{url_oficio_baja}}" type="application/pdf" class="col-sm-12" style="height: 715px;" />
															</div>
														</div>	
														
														<div th:if="${oficiobaja} == 'noexiste'" id="OBdoc" class="card-body justify-content-center col-sm-12">
															<h1>El Documento no existe en la base de datos</h1>
														</div>	
														
														<div th:if="${dictamen} == 'existe'" id="DIdoc" class="card-body justify-content-center col-sm-12">
															<div  class="card-body d-flex justify-content-center col-sm-12" >
																<embed th:src="@{'/upload/' + *{url_dictamen}}" type="application/pdf" class="col-sm-12" style="height: 715px;" />
															</div>
														</div>	
														
														
														<div  th:if="${dictamen} == 'noexiste'" id="DIdoc" class="card-body justify-content-center col-sm-12">
															<h1>El Documento no existe en la base de datos</h1>
														</div>	
														

												  </div>
														
										     	</div>

												<!--Vigencia-->

												<div class="form-group col-sm-2 enlineaform">
													<div class="help-block with-errors" style="width: 450px;"></div>

													<input th:field="*{vehiculo.vehiculo_detalle.vigencia_circulacion}"
														id="vigencia_circulacion" min=01/01/1900 max=01/01/2090
														class="form-control signos" type="date" required
														data-error="Ingrese la fecha de vigencia de circulacion">

													<div class="input-group-icon">
														<i class="fas fa-file-invoice-dollar"></i>
													</div>
												</div>
												<div class="form-group col-sm-2 enlineaform">
													<input placeholder="Vigencia de circulacion"
														class="form-control" disabled>
												</div>
												<!-- calev fecha TENENCIA -->
												<div class="form-group col-sm-2 enlineaform">
													<div class="help-block with-errors" style="width: 450px;"></div>

													<input th:field="*{vehiculo.fecha_tenencia}" id="fecha_tenencia"
														min=01/01/1900 max=01/01/2090 class="form-control signos"
														type="date" required
														data-error="Ingrese la fecha de la ultima tenencia">

													<div class="input-group-icon">
														<i class="fas fa-file-invoice-dollar"></i>
													</div>
												</div>
												<div class="form-group col-sm-2 enlineaform">
													<input placeholder="Fecha Tenencia" class="form-control"
														disabled>
												</div>
												<!-- calev fin fecha tenencia -->
												<input type="hidden" th:field="*{vehiculo.id_vehiculo}" />
												<div id="marcaid">
													<input type="hidden" th:field="*{vehiculo.vehiculo_marca.id_marca}" />
												</div>
												<input type="hidden" th:field="*{vehiculo.vehiculo_funcion}" /> 
												<input	type="hidden" th:field="*{vehiculo.vehiculo_transmision}" /> 
												<input type="hidden" th:field="*{vehiculo.vehiculo_detalle}" /> 
												<input type="hidden" th:field="*{vehiculo.placa_anterior}" /> 
												<input type="hidden" th:field="*{vehiculo.adscripcion}" />

											       </div>
											       </div>
										        </form>
										      </div>
										  </div>
									    </div>
									</div>
								</div>
							</div>
						</div>
					</div>
	</section>

	<script type="text/javascript" th:inline="javascript">
		$('#marca').change(
				function() {
					$('#Submarca').load('refreshSubMarca',
							"nombre_marca=" + $('#marca').val());
					$('#Submarca').prop("disabled", false);
				});

		$('#Submarca').change(
				function() {
					$('#Modelo').load(
							'refreshModelo',
							"nombre_marca=" + $('#marca').val()
									+ "&nombre_submarca="
									+ $('#Submarca').val());
					$('#Modelo').prop("disabled", false);
				});

		$('#Modelo').change(
				function() {
					$('#Tipo').load(
							'refreshTipo',
							"nombre_marca=" + $('#marca').val()
									+ "&nombre_submarca="
									+ $('#Submarca').val() + "&modelo="
									+ $('#Modelo').val());
					$('#Tipo').prop("disabled", false);
				});

		$('#Tipo').change(
				function() {
					$('#Clase').load(
							'refreshClase',
							"nombre_marca=" + $('#marca').val()
									+ "&nombre_submarca="
									+ $('#Submarca').val() + "&modelo="
									+ $('#Modelo').val() + "&tipo="
									+ $('#Tipo').val());
					$('#Clase').prop("disabled", false);
				});

		$('#Clase').change(
				function() {
					$('#marcaid').load(
							'refreshID',
							"nombre_marca=" + $('#marca').val()
									+ "&nombre_submarca="
									+ $('#Submarca').val() + "&modelo="
									+ $('#Modelo').val() + "&tipo="
									+ $('#Tipo').val() + "&clase="
									+ $('#Clase').val());
				});

		$('#aBtnGroup button').on('click', function() {
			var thisBtn = $(this);
			var btnText = thisBtn.text();
			var btnValue = thisBtn.val();
			thisBtn.addClass('active').siblings().removeClass('active');
			if (btnValue == "D") {

				$("#Mdocumento").show();
				$("#Ndocumento").hide();

			}
			;
			if (btnValue == "N") {
				$("#Mdocumento").hide();
				$("#Ndocumento").show();

			}
			;
		});

		$("#doc1")
				.change(
						function() {

							var fileSize = this.files[0].size;

							if (fileSize > 3000000) {
								swal("", "El archivo no debe superar los 3MB",
										"error");
								this.value = '';
								this.files[0].name = '';
							} else {
								var fileName = this.files[0].name;
								// recuperamos la extensión del archivo
								var ext = fileName.split('.').pop();

								// Convertimos en minúscula porque 
								// la extensión del archivo puede estar en mayúscula
								ext = ext.toLowerCase();

								// console.log(ext);
								switch (ext) {
								case 'jpg':
								case 'jpeg':
								case 'png':
								case 'pdf':
									break;
								default:
									swal(
											"",
											"El archivo no tiene la extensión adecuada",
											"error");
									this.value = ''; // reset del valor
									this.files[0].name = '';
								}
								this.files[0].name = 'TC';
								console.log(this.files[0].name);
							}

						});

		$("#doc2")
				.change(
						function() {

							var fileSize = this.files[0].size;

							if (fileSize > 3000000) {
								swal("", "El archivo no debe superar los 3MB",
										"error");
								this.value = '';
								this.files[0].name = '';
							} else {
								var fileName = this.files[0].name;
								// recuperamos la extensión del archivo
								var ext = fileName.split('.').pop();

								// Convertimos en minúscula porque 
								// la extensión del archivo puede estar en mayúscula
								ext = ext.toLowerCase();

								// console.log(ext);
								switch (ext) {
								case 'jpg':
								case 'jpeg':
								case 'png':
								case 'pdf':
									break;
								default:
									swal(
											"",
											"El archivo no tiene la extensión adecuada",
											"error");
									this.value = ''; // reset del valor
									this.files[0].name = '';
								}
								this.files[0].name = 'TC';
								console.log(this.files[0].name);
							}

						});

		$("#doc3")
				.change(
						function() {

							var fileSize = this.files[0].size;

							if (fileSize > 3000000) {
								swal("", "El archivo no debe superar los 3MB",
										"error");
								this.value = '';
								this.files[0].name = '';
							} else {
								var fileName = this.files[0].name;
								// recuperamos la extensión del archivo
								var ext = fileName.split('.').pop();

								// Convertimos en minúscula porque 
								// la extensión del archivo puede estar en mayúscula
								ext = ext.toLowerCase();

								// console.log(ext);
								switch (ext) {
								case 'jpg':
								case 'jpeg':
								case 'png':
								case 'pdf':
									break;
								default:
									swal(
											"",
											"El archivo no tiene la extensión adecuada",
											"error");
									this.value = ''; // reset del valor
									this.files[0].name = '';
								}
								this.files[0].name = 'TC';
								console.log(this.files[0].name);
							}

						});
		
		
		$("#TCdoc").show();
    	$("#AFdoc").hide();
    	$("#OBdoc").hide();
    	$("#DIdoc").hide();
		
		$('#aBtnGroupD button').on('click', function() {
			var thisBtn = $(this);
			var btnText = thisBtn.text();
			var btnValue = thisBtn.val();
			console.log(btnText +" "+ btnValue);
			thisBtn.addClass('active').siblings().removeClass('active');
			
		    if(btnValue == "TC"){ 
		    	
		    	$("#TCdoc").show();
		    	$("#AFdoc").hide();
		    	$("#OBdoc").hide();
		    	$("#DIdoc").hide();
			    
		    }else{
			    if(btnValue == "AF"){ 
			    	
			    	$("#TCdoc").hide();
			    	$("#AFdoc").show();
			    	$("#OBdoc").hide();
			    	$("#DIdoc").hide();
			   }else{
				   if(btnValue == "OB"){
					   
					    $("#TCdoc").hide();
				    	$("#AFdoc").hide();
				    	$("#OBdoc").show();
				    	$("#DIdoc").hide();
				   }else{
					   if(btnValue == "DI"){
						   $("#TCdoc").hide();
					    	$("#AFdoc").hide();
					    	$("#OBdoc").hide();
					    	$("#DIdoc").show();
						
					          }
						   }
					   }
				   }
		});
	</script>

	<script src="/assets/js/CambiosEstado.js"></script>
	<!-- jQuery Library -->
	<script src="/assets/js/jquery-3.4.1.min.js"></script>
	<!-- Popper js -->
	<script src="/assets/js/popper.min.js"></script>
	<!-- Bootstrap Js -->
	<script src="/assets/js/bootstrap.min.js"></script>
	<!-- Form Validator -->
	<script src="/assets/js/validator.min.js"></script>
	<!-- Contact Form Js -->
	<script src="/assets/js/contact-form.js"></script>
	<!-- SweetAlert -->
	<script src="/assets/SweetAlert2/sweetalert2.min.js"></script>


</body>
</html>
