<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<title>Formulario Usuario</title>
<head>
	<meta charset="utf-8">
	<meta content="IE=edge" http-equiv="X-UA-Compatible">
	<meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1"/>
	<link href="favicon.html" rel="icon">
	<link rel="stylesheet" th:href="@{/assets/css/estilos.css}">
	<link rel="stylesheet" th:href="@{/assets/fontawesome/css/fontawesome.min.css}">
	<link rel="stylesheet" th:href="@{/assets/css/contact-form.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/assets/bootstrap/css/bootstrap.min.css}"/>
	<link rel="stylesheet" th:href="@{/assets/SweetAlert2/sweetalert2.css}">
	<script src="/assets/js/jquery-3.4.1.min.js"></script>
	<script th:src="@{/assets/fontawesome/js/all.js}"></script>	
	<style type="text/css">
	span{display:block;font-size:.8em;margin:0px 0 10px;padding:5px 0 5px 11px;width:200px}
	</style>
</head>
<body>
	<header>
		<div class="heades">
			<img th:src="@{/images/pgj.png}" style="width: 20%">			
		</div>
                <div class="TituloCon">
                </div>
		<div class="form-group last col-sm-12 form-nav" >		    		
			<a class="btn btn-primary btn-xs col-sm-4 btn-stilo" th:href='@{/home}' style="width: 48px; height: 34px; float: right; margin-right: 5%;font-size:14 px;"><i class="fas fa-home fa-2x" style="font-size:14 px;margin-left:-24%;"></i></a>
			<a class="btn btn-primary btn-xs col-sm-4 btn-stilo" th:href='@{/Usuarios}'style="width: 48px; height: 34px; float: right; margin-right: 5%;font-size:14 px;"><i class="far fa-arrow-alt-circle-left fa-2x" style="margin-top: -10%;margin-left: -12%;"></i></a>
			
			<div id="button" class="form-group last col-sm-4 " style="margin-bottom: 5px;margin-top: 5px;"> 
				<div class="container col-sm-4">
  							 				 					 			
	 				<div class="dropdown col-sm-4"  >
						  
						  <a class="btn btn-secondary dropdown-toggle btn-stilo" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background-color: #337ab7;">						   
						  MENU
						  </a>
						
						  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">						  							 
						    <form th:action="@{/Viajes}" style="margin-bottom: 3px; margin-left: 5px;" >
						        <button class="btn btn-outline-success btn-menu" type="submit" value="enviar" >Viajes</button>					    	
				    		</form>
				    		  <form th:action="@{/Usuarios}" style="margin-bottom: 3px; margin-left: 5px;" >
						        <button class="btn btn-outline-success btn-menu" type="submit" value="enviar" >Usuarios</button>					    	
				    		</form>							    
						    <form th:action="@{/Vehiculos}" style="margin-bottom: 3px; margin-left: 5px;" >
								        <button class="btn btn-outline-success btn-menu" type="submit" value="enviar" >Vehiculo</button>					    	
						    </form>
						     <form th:action="@{/Seguros}" style="margin-bottom: 3px; margin-left: 5px;" >
								        <button class="btn btn-outline-success btn-menu" type="submit" value="enviar" >Seguros</button>					    	
						    </form>
						      <form th:action="@{/Conductores}" style="margin-bottom: 3px; margin-left: 5px;" >
								        <button class="btn btn-outline-success btn-menu" type="submit" value="enviar" >Conductores</button>					    	
						    </form>	
						    <form th:action="@{/Mantenimientos}" style="margin-bottom: 3px; margin-left: 5px;" >
								        <button class="btn btn-outline-success btn-menu" type="submit" value="enviar" >Mantenimiento</button>					    	
						    </form>						    
						    <form th:action="@{/Adscripciones}" style="margin-bottom: 3px; margin-left: 5px;" >
								        <button class="btn btn-outline-success btn-menu" type="submit" value="enviar" >Adscripciones</button>					    	
						    </form>							 
						   		
						  </div>
					</div>			
 				</div>
 			</div> 			
		</div>
		<h1 class="item-title text-right StituloCon">Usuario</h1>
	</header>
<section>
	 <div class="tab-content">
	      <div class="form-group last col-sm-12 formfondo">
	                <div class="row">
	                    <div class="tab-content">
	                        <div class="col-sm-12">
	                            <div class="item-wrap">
	                                <div class="row">
	                                    <div class="col-md-12">
	                                        <form th:action="@{/formUsu}" th:object="${usuarios}" method="post" id="formulario"  data-toggle="validator" class="popup-form">
	                                            <div class="row">
														        
	                                                    <!--Fecha de Alta-->
	                                            	    <div class="form-group col-sm-4">
														   <div class="help-block with-errors"></div>
															   <input th:field="*{fecha_alta}" name="F_al" id="F_al" placeholder="Fecha de alta" class="form-control" type="date"  required data-error="Ingrese Fecha de alta" disabled>
														       <div class="input-group-icon"><i class="fas fa-calendar-alt"></i></div>
														</div>
									
														<div style=" width:20%;display: inline-block;">
															<input type="text" readonly="readonly" placeholder="Fecha de Alta" class="form-control">
														</div>
														
														<div class="form-group col-sm-5"></div>
														
														<!--Numero de empleado-->
														<div class="form-group col-sm-4">
														   <div class="help-block with-errors"></div>
															 <input th:field="*{no_empleado}" name="N_Em" id="N_Em" placeholder="Numero de Empleado" class="form-control signos" type="text" required data-error="Ingrese El Numero de Empleado">																
														   <div class="input-group-icon"><i class="fas fa-id-badge"></i></div>
														</div>
											
                                                        <div class="form-group col-sm-5"></div>
                         
										     			<!--Nombre-->
											     		<div class="form-group col-sm-4">
												    		<div class="help-block with-errors"></div>
													     	  <input th:field="*{nombre}" name="Nombre" id="Nombre" placeholder="Nombre" onkeypress="return letras(event);" class="form-control" type="text" required data-error="Ingrese El Nombre en Mayúsculas">
														    <div class="input-group-icon"><i class="fa fa-user"></i></div>
													    </div>
													
													    <!--Apellido2-->
													    <div class="form-group col-sm-4">
														 <div class="help-block with-errors"></div>
														   <input th:field="*{apellido2}" name="A_pa" id="A_pa" placeholder="Apellido Paterno" onkeypress="return letras(event);" class="form-control" type="text" required data-error="Ingrese El Primer Apellido en Mayúsculas">
														 <div class="input-group-icon"><i class="fa fa-user"></i></div>
													    </div>
													   
													    <!--Apellido1-->
													    <div class="form-group col-sm-4">
														    <div class="help-block with-errors"></div>
														     <input th:field="*{apellido1}" name="A_ma" id="A_ma" placeholder="Apellido Materno" onkeypress="return letras(event);" class="form-control" type="text" required data-error="Ingrese El Segundo Apellido  en Mayúsculas">
														    <div class="input-group-icon"><i class="fa fa-user"></i></div>
													    </div>
													   
													   			   
													   <!--Adscripción-->
													   <div class="form-group col-sm-10">
															<div class="help-block with-errors"></div>
															  <select th:field="*{adscripcion.id_adscripcion}" class="form-control" style=" height: 33px;" required data-error="Ingrese la Adscripcion">
										                         
										                         <option th:each="adss : ${adslist}"
										                            th:value="${adss.id_adscripcion}"
										                            th:utext="${adss.nombre_adscripcion}" />
										                      </select>
										                    <div class="input-group-icon"><i class="far fa-building"></i></div>
													   </div>
													
													
													  <!--Tipo de Usuario-->
													  <div class="form-group col-sm-4">
														<div class="help-block with-errors"></div>														
														  <select th:field="*{enabled}" id="estado" class="form-control" style="height: 34px;" required data-error="Ingrese el estado del usuario">																												
														    <option value=false>-Inactivo</option>
														    <option value=true>-Activo</option>
														  </select>	
														<div class="input-group-icon"><i class="fa fa-user-tag"></i></div>
													  </div>
													 
													  <div class="form-group col-sm-4">
														<div class="help-block with-errors"></div>														
														  <select th:field="*{authority.id}" id="autoridad" class="form-control" style="height: 34px;" required data-error="Ingrese el estado del usuario">																												
														    <option value="1">-Administrador</option>
														    <option value="2">-Usuario</option>
														    <option value="3">-Taller</option>
														    <option value="4">-Siniestro</option>								
														  </select>	
														  <div class="input-group-icon"><i class="fa fa-user-tag"></i></div>
													  </div>
											
													   
													   <div class="form-group col-sm-4"></div>
													   
													 
												       <!--Contraseña-->
														<div class="form-group col-sm-4">
															<div class="help-block with-errors"></div>
															   <input th:field="*{contrasena}" pattern=".{6,}" min=6 max=10 name="pass1"  id="contrasena" onkeypress="Pvalor()" onchange="coincidencia()" onkeyup="vlidar()"  placeholder="Contraseña" class="form-control" type="password" required data-error="Ingrese la Contraseña">
															<div class="input-group-icon"><i class="fa fa-key"></i></div>
														</div>
	
													   <!--Confirmar Contraseña-->
														
													    <div class="form-group col-sm-4">															
														    <div class="help-block with-errors"></div>
															   <input  id="contrasenaCP" pattern=".{6,}" min=6 max=10 name="pass2" placeholder="Vuelva a escribir la contraseña" onkeypress="Svalor()" onchange="coincidencia()" onkeyup="vlidar()" class="form-control" type="password" required data-error="Ingrese la Contraseña">
															<div class="input-group-icon"><i class="fa fa-key"></i></div>
														</div>
														
														<div class="form-group col-sm-12">
															<span id="span" class="col-sm-6" style="display: none"></span>
														</div>
														

													    <!--Boton de guardar-->

														<div  class="text-center col-sm-12">
															<button type="submit" id="guardar" class="btn btn-custom btn-stilo" style="float: right;"><i class='fa fa-envelope' th:if="${error == 'F'}"></i> Guardar</button>
															<div class="clearfix"></div>
												    	</div>
											   </div>
	                                        </form>
	                                    </div>
	                                </div>
	                            </div>
	                        </div>
	                    </div>
	                </div>
			</div>			
		</div>
</section>
	
	<script type="text/javascript"  th:inline="javascript">	
	var confirmacion = "Las contraseñas si coinciden";
	var longitud = "La contraseña debe estar formada entre 6-10 caracteres)";
	var negacion = "No coinciden las contraseñas";
     var valor1="";
	 var valor2="";
	
	 $("body").bind('cut copy paste',function(j){
		 j.preventDefault();
	 })
	
	 function Pvalor(){
			valor1 = document.getElementById("contrasena").value;	
			if((valor1.length<6) || (valor1.length>10)){
				if(valor1 != valor2){
				$("#guardar").hide();
				};
			};
		}
		function Svalor(){
			valor2 = document.getElementById("contrasenaCP").value;	
			if((valor2.length<6) || (valor2.length>10)){
				if(valor1 != valor2){
					$("#guardar").hide();
					};				
			};
		}
		function vlidar(){
			valor1 = document.getElementById("contrasena").value;
			valor2 = document.getElementById("contrasenaCP").value;	
			if((valor2.length<6) || (valor2.length>10) && (valor1.length<6) || (valor1.length>10)){
				if(valor1 == valor2){
					validartamañoeigualdad();
					};				
			};
		}
		
		function coincidencia(){	
			valor1 = document.getElementById("contrasena").value;
			valor2 = document.getElementById("contrasenaCP").value;	
			console.log("V1: "+valor1+" V2: "+valor2);
			
			if(valor1 != "" && valor2 != ""){
				
				validartamañoeigualdad();			
			}
			else{
				$("#span").hide();
				console.log("no ha entrado");
			};		
																											
		 }
		
		function validartamañoeigualdad(){
			if((valor1.length<6) || (valor1.length>10)){
				$("#span").show();
				document.getElementById("span").innerHTML =longitud;	
			
			}else{
				if(valor1 != valor2){
					$("#span").show();
					document.getElementById("span").innerHTML= negacion;	
					swal("Error", "No coinciden las contraseñas", "error");
					$("#guardar").hide();
					limpiar();
				}
				else{confirmar();
				};
			};
		}
			
		function confirmar(){
			if(valor1 == valor2){
				$("#span").show();		
				document.getElementById("span").innerHTML= confirmacion;
				swal("", "Las contraseñas coinciden", "success");
				$("#guardar").show();
			};	
		}
		
		function limpiar() {
			if(valor2 != ""){
				document.getElementById("contrasenaCP").value = "";        
	        valor2 = "";      
			};
	    }
		
		
	</script>
	<script src="/assets/js/CambiosEstado.js"></script>
	<!-- jQuery Library -->
	<script src="/assets/js/jquery-3.4.1.min.js"></script>
	<!-- Popper js -->
	<script src="/assets/js/popper.min.js"></script>
	<!-- Bootstrap Js -->
	<script src="/assets/bootstrap/js/bootstrap.min.js"></script>	
	<!-- Form Validator -->
	<script src="/assets/js/validator.min.js"></script>
	<!-- Contact Form Js -->
	<script src="/assets/js/contact-form.js"></script>
    <!-- SweetAlert -->
	<script src="/assets/SweetAlert2/sweetalert2.min.js"></script>
	
	
</body>
</html>