<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<title>Formulario de viaje</title>
<head>
	<meta charset="utf-8">
	<meta content="IE=edge" http-equiv="X-UA-Compatible">
	<meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1"/>
    <link href="favicon.html" rel="icon"> 
	<link rel="stylesheet" th:href="@{/assets/css/estilos.css}">
	<link rel="stylesheet" th:href="@{/assets/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/assets/css/font-awesome.min.css}"> 
	<link rel="stylesheet" th:href="@{/assets/css/contact-form.css}" type="text/css">
	<link rel="stylesheet" th:href="@{/assets/SweetAlert2/sweetalert2.css}">
	<link rel="stylesheet" th:href="@{/assets/bootstrap/css/bootstrap.min.css}"/>
	<script th:src="@{/assets/js/jquery-3.4.1.min.js}"></script>
	<script th:src="@{/assets/fontawesome/js/all.js}"></script>	
	
</head>
<body >
	<header>
		<div class="heades">
			<img th:src="@{/images/pgj.png}" style="width: 20%">			
		</div>
                <div class="TituloCon"></div>
                
		<div class="form-group last col-sm-12 form-nav" >		    
			<a class="btn btn-primary btn-xs col-sm-4 btn-stilo" th:href='@{/home}' style="width: 48px; height: 34px; float: right; margin-right: 5%;font-size:14 px;"><i class="fas fa-home fa-2x" style="font-size:14 px;margin-left:-24%;"></i></a>
			<a class="btn btn-primary btn-xs col-sm-4 btn-stilo" th:href='@{/Vehiculos}' style="width: 48px; height: 34px; float: right; margin-right: 5%;"><i class="far fa-arrow-alt-circle-left fa-2x" style="margin-top: -10%;margin-left: -12%;"></i></a>
			
			<div id="button" class="form-group last col-sm-4 " style="margin-bottom: 5px;margin-top: 5px;"> 
				<div class="container col-sm-4">
  							 				 					 			
	 				<div class="dropdown col-sm-4"  >
						  
						  <a class="btn btn-secondary dropdown-toggle btn-stilo" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background-color: #337ab7;">						   
						  MENU
						  </a>
						
						  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
						  	
						    <form th:action="@{/Viajes}" style="margin-bottom: 3px; margin-left: 5px;" >
						        <button class="btn btn-outline-success btn-menu" type="submit" value="enviar" >Viajes</button>					    	
				    		</form>						    
						    <form th:action="@{/Vehiculos}" style="margin-bottom: 3px; margin-left: 5px;" >
								        <button class="btn btn-outline-success btn-menu" type="submit" value="enviar" >Vehiculo</button>					    	
						    </form>
						     <form th:action="@{/Seguros}" style="margin-bottom: 3px; margin-left: 5px;" >
								        <button class="btn btn-outline-success btn-menu" type="submit" value="enviar" >Seguros</button>					    	
						    </form>
						      <form th:action="@{/Conductores}" style="margin-bottom: 3px; margin-left: 5px;" >
								        <button class="btn btn-outline-success btn-menu" type="submit" value="enviar" >Conductores</button>					    	
						    </form>	
						    <form th:action="@{/Mantenimientos}" style="margin-bottom: 3px; margin-left: 5px;" >
								        <button class="btn btn-outline-success btn-menu" type="submit" value="enviar" >Mantenimiento</button>					    	
						    </form>						 
						   		
						  </div>
					</div>			
 				</div>
 			</div> 			
		</div>
		<h1 class="item-title text-right StituloCon">Agregar Viajes Mensuales</h1>
	</header>
<section>
	 <div class="tab-content">
	      <div class="form-group last col-sm-12 formfondo" >
	                <div class="row">
	                    <div class="tab-content">
	                        <div class="col-sm-12">
	                            <div class="item-wrap">
	                                <div class="row">
	                                    <div class="col-md-12">
	                                        <form th:action="@{/formViaj}" th:object="${viaje}" method="post" id="formulario"  name="visitas" data-toggle="validator" class="popup-form">
	                                            
												<div class="row">
					       					       									                                                           
                                                           	<!--Placas-->
	
															   <div class="form-group col-sm-3">
																<div class="help-block with-errors" ></div>
																		<input th:field="*{vehiculo.placa}"  name="placa" id="placa" class="form-control" type="text" disabled>																	
												                        <div class="input-group-icon" style="height: 38px;"><i class="fas fa-car-side"></i></div>
												                    </div>
												               
												               <div class="col-sm-3" style=" width:40%; padding-left: 3px;">
																		<input  type="text" readonly="readonly"  placeholder="Placa" class="form-control" disabled>
															   </div>
															   
											                    
															  <div class="form-group col-sm-6"></div> 
															  
															  
														   <!--Fecha inicial del Registro-->
														
															
															<div class="form-group col-sm-3">
															    <div class="help-block with-errors"></div>	
																	<input th:field="*{finicial_registro}" name="H_ini" id="H_ini"   onchange="validarFini()" placeholder="Fecha de inicio" class="form-control" type="date" required data-error="Ingrese Fecha inicio del Registro"  pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}">													
							   								    <div class="input-group-icon"> 
																		<i class="far fa-calendar-alt"> </i>
																	</div>
																</div>
		
																<div class="form-group col-sm-3" style=" width:40%; padding-left: 3px;">
																	<input  type="text" readonly="readonly"  placeholder="Fecha Inicio" class="form-control" disabled>
															</div>
															
															<!--Fecha final del Registro-->
														
																<div class="form-group col-sm-3">
																<div class="help-block with-errors"></div>	
																	<input th:field="*{ffinal_registro}" name="H_fin" id="H_fin" onchange="validarFfin()"   placeholder="Fecha de Registro" class="form-control" type="date" required data-error="Ingrese Fecha final del Registro"  pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}">
																		
							   										<div class="input-group-icon"> 
																		<i class="far fa-calendar-alt"> </i>
																	</div>
																</div>
		
																<div class="form-group col-sm-3"  style=" width:40%; padding-left: 3px;">
																	<input  type="text" readonly="readonly"  placeholder="Fecha Fin" class="form-control" disabled>
															   </div>
															 
																									 
															 <!--kilometraje inicial-->
	
	                                                        <div class="form-group col-sm-3">
																<div class="help-block with-errors" style=" width: 393px;"></div>
																	<input th:field="*{kilometraje_inicial}" id="Kinicial" class="form-control numberdec" disabled>																
																<div class="input-group-icon"><i class="fas fa-tachometer-alt"></i></div>
																</div>
																
																<div class="col-sm-3" style=" width:40%; padding-left: 3px;">
																	<input  type="text" readonly="readonly"  placeholder="Kilometraje Inicial" class="form-control" disabled>
																</div>
																
															 
															<!--kilometraje final-->
	
	                                                        <div class="form-group col-sm-3">
																<div class="help-block with-errors" style=" width: 393px;"></div>
																	<input th:field="*{kilometraje_final}" id="Kfinal"  class="form-control numberdec" onchange="kilometerfinal()" required data-error="Ingrese el Kilometraje final">																
																<div class="input-group-icon"><i class="fas fa-tachometer-alt"></i></div>
																</div>
																
																<div class="col-sm-3" style=" width:40%; padding-left: 3px;">
																	<input  type="text" readonly="readonly"  placeholder="Kilometraje Final" class="form-control" disabled>
															</div>
	
							 
											                <!--Distancia mensual-->
	
	                                                        <div class="form-group col-sm-3">
																<div class="help-block with-errors" style=" width: 393px;"></div>
																	<input th:field="*{distancia_mensual}" id="Dist_mens" class="form-control numberdec"  type="text" required data-error="Ingrese la distancia mensual">																
																<div class="input-group-icon"><i class="fas fa-tachometer-alt"></i></div>
																</div>
																
																<div class="col-sm-3" style=" width:40%; padding-left: 3px;">
																	<input  type="text" readonly="readonly"  placeholder="Distancia Mensual" class="form-control" disabled>
															</div>
									
														<div class="form-group col-sm-6"></div> 								

											        <input type="hidden" th:field="*{id_viaje}"/>
	                                                <input type="hidden" th:field="*{vehiculo.id_vehiculo}"/>
	                                                <input type="hidden" th:field="*{kilometraje_inicial}"/>
	                                                <input type="hidden" th:field="*{kilometraje_final}"/>	                  													
													
														 <div class="form-group col-sm-12 has-error has-danger" style="text-align: center;">																																	
														 <div class="form-group last col-sm-12 ">
															<button type="submit" id="guardar" class="btn btn-custom btn-stilo"><i class='fa fa-envelope' th:if="${error == 'F'}"></i> Guardar</button>
														 </div>
														<div class="clearfix"></div>
													    </div>  
													    
													    
											   </div>
	                                        </form>
	                                    </div>
	                                </div>
	                            </div>
	                        </div>
	                    </div>
	                </div>
			</div>
			
		</div>
	</section>
	<script type="text/javascript"  th:inline="javascript">		
			
	 var fechaanterior = document.getElementById("H_ini").value;
	 console.log("fechaanterior: "+fechaanterior);
	 
	 function validarFini()
	 {
		 
		 var fechainicial = document.getElementById("H_ini").value;
		 var fechafinal = document.getElementById("H_fin").value;
		 console.log("fechainicial: "+fechainicial);
	
           if(Date.parse(fechainicial) > Date.parse(fechafinal)) {
        	   document.getElementById("H_ini").value = fechaanterior;   
        	   swal("Error", "La fecha de inicio debe ser menor a la fecha de fin", "error");
        	   };
		  
		   if(Date.parse(fechainicial) < Date.parse(fechaanterior)) {
			   document.getElementById("H_ini").value = fechaanterior;   
			   swal("Error", "La fecha de inicio debe ser mayor al periodo anterior registrado", "error");
			   };
			  
	 }
	
	 
	function validarFfin()
	{
		
	   var fechainicial = document.getElementById("H_ini").value;
	   var fechafinal = document.getElementById("H_fin").value;

	   if(Date.parse(fechafinal) < Date.parse(fechainicial)) {
		   document.getElementById("H_fin").value = fechaanterior;
		   swal("Error", "La fecha fin debe ser mayor a la fecha de inicio", "error");
		};
		
	}
	
	
	function kilometerInicial(){
		
		var kilometrajeI = document.getElementById("Kinicial").value;		
		var kilometrajeF = document.getElementById("Kfinal").value;	

		if(kilometrajeI.parseFloat <= kilometrajeF.parseFloat){
			document.getElementById("Kinicial").value = "";
			swal("Error","El kilimetraje inicial debe ser mayor al final","error");
		}
		
	}
	
	
	function kilometerfinal(){
		
		var kilometrajeI = parseFloat(document.getElementById("Kinicial").value);
		console.log(kilometrajeI);
		var kilometrajeF = parseFloat(document.getElementById("Kfinal").value);
		console.log(kilometrajeF);
		
		if( kilometrajeF < kilometrajeI ){
			document.getElementById("Kfinal").value = "";
			swal("Error","El kilimetraje final debe ser mayor al Kilometraje inicial","error");
			}
		
	}
	
	</script>
	
	<script src="/assets/js/CambiosEstado.js"></script>
	<!-- jQuery Library -->
	<script src="/assets/js/jquery-3.4.1.min.js"></script>
	<!-- Popper js -->
	<script src="/assets/js/popper.min.js"></script>
	<!-- Bootstrap Js -->
	<script src="/assets/bootstrap/js/bootstrap.min.js"></script>	
	<!-- Form Validator -->
	<script src="/assets/js/validator.min.js"></script>
	<!-- Contact Form Js -->
	<script src="/assets/js/contact-form.js"></script>
	<!-- SweetAlert-->
	<script src="/assets/SweetAlert2/sweetalert2.min.js"></script>
 
</body>
</html>