<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<title>Formulario Seguro</title>
<meta charset="utf-8">
	<head th:replace="/layout/layoutHeadMetaData :: head"></head>
<body>
	<header th:replace="/layout/layoutHead :: header"></header>
<section>
	 <div class="tab-content">
	      <div class="form-group last col-sm-12 formfondo">
	                <div class="row">
	                    <div class="tab-content">
	                        <div class="col-sm-12">
	                            <div class="item-wrap">
	                                <div class="row">
	                                    <div class="col-md-12">
	                                        <form th:action="@{/formSeg}" th:object="${seguros}" enctype="multipart/form-data" method="post" id="formulario"  name="visitas" data-toggle="validator" class="popup-form">
	                                            
	                                            <div class="row">
	                                            	                    
	                                            	  
	                                            	   
	                                            	   <div class="form-group col-sm-12 enlineaform">
	                                            	    <h3 style="margin-left:1%;margin-top:.3%;">Datos</h3>
	                                            	   </div>
	                                            	                         
													   <!--Placas-->
						
															   <div class="form-group col-sm-2 enlineaform">
																<div class="help-block with-errors" ></div>
																		<input th:field="*{vehiculo.placa}"  name="placa" id="placa" class="form-control" type="text" disabled>																	
												                        <div class="input-group-icon" style="height: 38px;"><i class="fas fa-car-side"></i></div>
												                    </div>
												               
												               <div class="col-sm-3" style=" width:40%; padding-left: 3px;">
																		<input  type="text" readonly="readonly"  placeholder="Placa" class="form-control" disabled>
															   </div>
															   
															   <div class="form-group col-sm-5 enlineaform"></div>
	
	                                                   <!--Aseguradora-->

													   <div class="form-group col-sm-3 enlineaform">
														    <select th:field="*{aseguradora}" class="form-control" style=" height: 38px;" required data-error="Ingrese la Aseguradora correspondiente">
										                        
										                         <option value="" th:if="${editar == false}"> Seleccione una Aseguradora </option>
										                         <option th:value="${seguros.aseguradora.id_aseguradora}" th:text="${seguros.aseguradora.nombre_aseguradora}" th:if="${editar} == true"></option>
										                         <option th:each="aseg : ${aseguradoras}"  th:if="${aseg.enabled==true}"
										                            th:value="${aseg.id_aseguradora}"
										                            th:utext="${aseg.nombre_aseguradora}" />
										                    </select>
										                    <div class="input-group-icon"><i class="far fa-building"></i></div>
													   </div>
													   
													   <div class="form-group col-sm-2 enlineaform">													
																<input placeholder="Aseguradora" class="form-control" disabled>														
													   </div>
													    
													    <!--<a  data-toggle="modal" data-target="#myModal" id="save" class="boton_personalizado" th:if="${usuario} == 'ROLE_ADMIN'">Añadir Aseguradora</a> -->
													                                   
													    <div class="form-group col-sm-5 enlineaform"></div>
													    
													    <!--Nombre Contratante-->
	                                                   
	                                                    <div class="form-group col-sm-3 enlineaform">
	                                                            <div class="help-block with-errors"></div>
	                                                            <input th:field="*{nombre_contratante}"  id="nombre_contra" placeholder="Nombre Contratante" onkeypress="return letras(event);" class="form-control" type="text" required data-error="Ingrese El Nombre del Contratante"/>
	                                                            <div class="input-group-icon"><i class="fas fa-file-contract"></i></div>
	                                                    </div>
	                                                    
	                                                    <div class="form-group col-sm-3 enlineaform">
																		<input  type="text" readonly="readonly"  placeholder="Nombre del Contratante" class="form-control" disabled>
													    </div>
	                                                    
	                                                    <div class="form-group col-sm-5 enlineaform"></div>
													     
	                                                    <!--Poliza-->
	                                                    
	                                                    <div class="form-group col-sm-3 enlineaform">
	                                                            <div class="help-block with-errors"></div>
	                                                            <input th:field="*{no_poliza_hijo}"  id="No_po" placeholder="Numero de Poliza Hija" class="form-control signos" type="text" required data-error="Ingrese El Numero De Poliza"/>
	                                                            <div class="input-group-icon"><i class="far fa-newspaper"></i></div>
	                                                    </div>
	                                                    
	                                                    <div class="form-group col-sm-3 enlineaform">
																		<input  type="text" readonly="readonly"  placeholder="Número de Póliza Hija" class="form-control" disabled>
													    </div>
													    
	                                                    <div class="form-group col-sm-5 enlineaform"></div>
	                                                    
	                                                   <!--RFC Contratante-->
	                                                   
	                                                    <div class="form-group col-sm-3 enlineaform">
	                                                            <div class="help-block with-errors"></div>
	                                                            <input th:field="*{rfc_contratante}"  id="rfc_contra" placeholder="RFC Contratante" class="form-control Letrasnum" type="text" required data-error="Ingrese El RFC del Contratante"/>
	                                                            <div class="input-group-icon"><i class="far fa-newspaper"></i></div>
	                                                    </div>
	                                                    
	                                                    <div class="form-group col-sm-3 enlineaform">
																		<input  type="text" readonly="readonly"  placeholder="RFC Contratante" class="form-control" disabled>
													    </div>
													    
	                                                    <div class="form-group col-sm-5
	                                                     enlineaform"></div>
	                                                    
	                                                    <!--Código Cliente-->
	                                                   
	                                                    <div class="form-group col-sm-3 enlineaform">
	                                                            <div class="help-block with-errors"></div>
	                                                            <input th:field="*{codigo_cliente}"  id="cod_cliente" placeholder="Código Cliente" class="form-control signos" type="text" required data-error="Ingrese El código cliente"/>
	                                                            <div class="input-group-icon"><i class="fa fa-user"></i></div>
	                                                    </div>
	                                                    
	                                                    <div class="form-group col-sm-3 enlineaform">
																		<input  type="text" readonly="readonly"  placeholder="Código Cliente" class="form-control" disabled>
													    </div>
	                                                    
	                                                    <div class="form-group col-sm-12 enlineaform">
	                                                    <h3 style="margin-left:1%;margin-top:1%;margin-bottom: 2%;">Dirección</h3>
	                                                    </div>
	                                                    	                                                                                                
	                                                    
	                                                    <!--Calle Cliente-->
	                                                   
	                                                    <div class="form-group col-sm-5 enlineaform">
	                                                            <div class="help-block with-errors"></div>
	                                                            <input th:field="*{calle_contratante}"  id="calle_contra" placeholder="Calle Contratante" onkeypress="return letras(event);" class="form-control" type="text" required data-error="Ingrese la Calle"/>
	                                                            <div class="input-group-icon"><i class="fas fa-map-marked-alt"></i></div>
	                                                    </div>
	                                                    
	                                                    <div class="form-group col-sm-2 enlineaform">
																		<input  type="text" readonly="readonly"  placeholder="Calle" class="form-control" disabled>
													    </div>
	                                                    
	                                                       <div class="form-group col-sm-5 enlineaform"></div>
	                                                       
	                                                     <!--Número Cliente-->
	                                                   
	                                                    <div class="form-group col-sm-3 enlineaform">
	                                                            <div class="help-block with-errors"></div>
	                                                            <input th:field="*{numero_contratante}"  id="num_contra" placeholder="Número Contratante" class="form-control signos" type="text" required data-error="Ingrese el número"/>
	                                                            <div class="input-group-icon"><i class="fas fa-map-marked-alt"></i></div>
	                                                    </div>
	                                                    
	                                                    <div class="form-group col-sm-2 enlineaform">
																		<input  type="text" readonly="readonly"  placeholder="Número" class="form-control" disabled>
													    </div>

	                                                    <div class="form-group col-sm-7 enlineaform"></div>
	                                                       
	                                                      <!--Colonia Cliente-->
	                                                   
	                                                    <div class="form-group col-sm-4 enlineaform">
	                                                            <div class="help-block with-errors"></div>
	                                                            <input th:field="*{colonia_contratante}"  id="colonia_contra" placeholder="Colonia Contratante" onkeypress="return letras(event);" class="form-control" type="text" required data-error="Ingrese la colonia"/>
	                                                            <div class="input-group-icon"><i class="fas fa-map-marked-alt"></i></div>
	                                                    </div>
	                                                    
	                                                    <div class="form-group col-sm-2 enlineaform">
																		<input  type="text" readonly="readonly"  placeholder="Colonia" class="form-control" disabled>
													    </div>
													    
	                                                       <div class="form-group col-sm-6 enlineaform"></div>
	                                                       
 	                                                    <!--Codigo Postal-->
	                                                   
	                                                    <div class="form-group col-sm-2 enlineaform">
	                                                            <div class="help-block with-errors"></div>
	                                                            <input th:field="*{codigopos_contratante}"  id="cp_contra" placeholder="Código Postal" class="form-control signos" type="text" required data-error="Ingrese el codigo postal"/>
	                                                            <div class="input-group-icon"><i class="fas fa-map-marked-alt"></i></div>
	                                                    </div>
	                                                    
	                                                    <div class="form-group col-sm-2 enlineaform">
																		<input  type="text" readonly="readonly"  placeholder="C.P" class="form-control" disabled>
													    </div>
													    
	                                                       <div class="form-group col-sm-7 enlineaform"></div>
	                                                       
	                                                   <!--Alcaldia Cliente-->
	                                                   
	                                                    <div class="form-group col-sm-5 enlineaform">
	                                                            <div class="help-block with-errors"></div>
	                                                            <input th:field="*{alcaldia_contratante}"  id="alcaldia_contra" placeholder="Alcaldia Contratante" onkeypress="return letras(event);" class="form-control" type="text" required data-error="Ingrese la Alcaldia"/>
	                                                            <div class="input-group-icon"><i class="fas fa-map-marked-alt"></i></div>
	                                                    </div>
	                                                    
	                                                    <div class="form-group col-sm-2 enlineaform">
																		<input  type="text" readonly="readonly"  placeholder="Alcaldia" class="form-control" disabled>
													    </div>
	                                                    
	                                                     <div class="form-group col-sm-12 enlineaform"></div>
	                                                     
	                                                    <h3 style="margin-left:1%;margin-top:.3%;margin-bottom: 3%;">Documento</h3>
	                                                     
	                                                     <!--Adjuntar documento -->
	                                                     
            										   <div class="form-group col-sm-12 enlineaform" th:if="${editar} == false">
															<p style="margin-bottom:2rem;">Póliza de Seguro</p>
															<div class="col-sm-4"  id="Ndocumento">
																<div class="help-block with-errors"></div>
																<input type="file" name="file" class="form-control" accept="application/pdf" required data-error="Ingresa el documento PDF menor a 10 MB."/>
															</div>
														</div>
														
													   <div class="form-group col-sm-12 enlineaform" th:if="${editar} == true">																														
															<div id="aBtnGroup" class="btn-group">
															    <button type="button" value="D" class="btn btn-default">Documento</button>
															    <!-- <button type="button" value="N" class="btn btn-default">Nuevo Documento</button> --> 															    
													   </div>
													
													   <div class="form-group col-sm-12 enlineaform"></div>
							
													 
														 
													 <div id="Mdocumento" class="card-body justify-content-center col-sm-12">
															<div class="card-body d-flex justify-content-center col-sm-12" >
																	<embed th:src="@{'/upload/' + ${seguros.url_poliza}}" type="application/pdf" class="col-sm-12" style="height:715px;"/>
													  		</div>
													  </div>
												     </div>
	                        	                         
	                                                    <input type="hidden" th:field="*{vehiculo.id_vehiculo}"/>
	                                                    <input type="hidden" th:field="*{id_seguro}"/>
	                                                     <input type="hidden" th:field="*{url_poliza}"/>
	                                                    	                  
														<!--Boton Guardar-->

	                                                    <div class="form-group last col-sm-12"  th:if="${editar} == false" style="text-align: center;">
	                                                            <button type="submit" id="guardar" class="btn btn-custom btn-stilo"><i class='fa fa-envelope'></i> Guardar</button>
	                                                    </div> 
	                                                    <div class="clearfix"></div>            
	                                            </div>
	                                        </form>
	                                    </div>
	                                </div>
	                            </div>
	                        </div>
	                    </div>
	                </div>
			</div>
			
		</div>
	</section>	
	
   <!-- <div class="modal fade right" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true" data-backdrop="false">
  <div class="modal-dialog modal-full-height modal-right modal-notify modal-info" role="document">
    <div class="modal-content">
      <!--Header-->
    <!--   <div class="modal-header">
        <p class="heading lead " id="titulo">
        </p>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" class="white-text">×</span>
        </button>
      </div>

      <!--Body-->
     <!--  <div class="modal-body">
    <form th:action="@{/formAseg}"  method="post"id="formulario">      
        <div class="text-center">          
          <p>
            <strong>Aseguradoras</strong>
          </p>                  
        </div>

        <hr>

        <!-- opction -->
        
       <!--  <div class="modal-body btnModal">
				
				 <div class="form-group">
                   <label for="nombre_aseguradora" class="col-form-label">Nombre Aseguradora:</label>
                   <input th:field="*{seguros.aseguradora.nombre_aseguradora}"  id="nombre_aseg" placeholder="Nombre Aseguradora" onkeypress="return letras(event);" class="form-control" type="text" required data-error="Ingrese El Nombre de la Aseguradora"/>
                   <div class="help-block with-errors"></div>
                 </div>
                 <div class="form-group">
                   <label for="no_poliza_padre" class="col-form-label">Poliza Padre:</label>
	               <input th:field="*{seguros.aseguradora.no_poliza_padre}"  id="No_po" placeholder="Numero de Poliza Padre" class="form-control signos" type="text" required data-error="Ingrese El Numero De Poliza"/>
                   <div class="help-block with-errors"></div>
                 </div>	
                 <div class="form-group">
                   <label for="no_contrato" class="col-form-label">No_contrato:</label>
	               <input th:field="*{seguros.aseguradora.no_contrato}"  id="No_contrato" placeholder="Numero de Contrato" class="form-control Contrato" type="text" required data-error="Ingrese El Numero de Contrato"/>
                   <div class="help-block with-errors"></div>
                 </div>		
                 <div class="form-group">
                   <label for="rfc_aseguradora" class="col-form-label">RFC Aseguradora:</label>
                   <input th:field="*{seguros.aseguradora.rfc_aseguradora}"  id="rfc_aseg" placeholder="RFC Aseguradora" class="form-control Letrasnum" type="text" required data-error="Ingrese El RFC de la Aseguradora"/>
                   <div class="help-block with-errors"></div>
                 </div>																															 		
			</div>
			
			<div class="modal-footer">
        <button type="submit" id="guardar" class="btn btn-custom btn-stilo"><i class='fa fa-envelope' th:if="${error == 'F'}"></i>Guardar</button>
       </div>
			
			
			</form>
        </div> 
      </div>
    
        
    </div>
    
  
  </div>-->
         
         
         <script type="text/javascript" th:inline="javascript">

			$(document).on('change','input[type="file"]',function(){
				// this.files[0].size recupera el tamaño del archivo
				// alert(this.files[0].size);
				
				var fileName = this.files[0].name;
				var fileSize = this.files[0].size;
		
				if(fileSize > 3000000){
					alert('El archivo no debe superar los 3MB');
					this.value = '';
					this.files[0].name = '';
				}else{
					// recuperamos la extensión del archivo
					var ext = fileName.split('.').pop();
		
					// console.log(ext);
					switch (ext) {			
						case 'pdf': break;
						default:
							alert('El archivo no tiene la extensión adecuada');
							this.value = ''; // reset del valor
							this.files[0].name = '';
					}
				}
			});
	    
			
			$('#aBtnGroup button').on('click', function() {
				var thisBtn = $(this);
				var btnText = thisBtn.text();
				var btnValue = thisBtn.val();
				console.log(btnText +" "+ btnValue);
				thisBtn.addClass('active').siblings().removeClass('active');
			    if(btnValue == "D"){ 
			    	
			    	$("#Mdocumento").show();
			    	$("#Ndocumento").hide();
			    
			    }else{
				    if(btnValue == "N"){ 
				    	
				    	$("#Mdocumento").hide();
				    	$("#Ndocumento").show();
				    
				   };
			   }
			});
	</script>
	<script src="/assets/js/CambiosEstado.js"></script>
	<!-- jQuery Library -->
	<script src="/assets/js/jquery-3.4.1.min.js"></script>
	<!-- Popper js -->
	<script src="/assets/js/popper.min.js"></script>
	<!-- Bootstrap Js -->
	<script src="/assets/js/bootstrap.min.js"></script>
	<!-- Form Validator -->
	<script src="/assets/js/validator.min.js"></script>
	<!-- Contact Form Js -->
	<script src="/assets/js/contact-form.js"></script>
    <!-- SweetAlert-->
	<script src="/assets/SweetAlert2/sweetalert2.min.js"></script>
	<!-- fontawesome -->
	<script th:src="@{/assets/fontawesome/js/all.js}"></script>	
 
</body>
</html>