<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<title>Combustible</title>
<head>
	<meta charset="utf-8">
	<meta content="IE=edge" http-equiv="X-UA-Compatible">
	<meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1"/>
	<link href="favicon.html" rel="icon">
	<link rel="stylesheet" th:href="@{/assets/css/estilos.css}">
	<link rel="stylesheet" th:href="@{/assets/css/bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{/assets/css/font-awesome.min.css}">
	<link rel="stylesheet" th:href="@{/assets/css/contact-form.css}" type="text/css">
	<script src="/assets/js/jquery-3.4.1.min.js"></script>
	<script src="https://kit.fontawesome.com/4b484f74be.js"></script>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>	
</head>
<body>
	<header>
		<div class="heades">
			<img th:src="@{/images/pgj.png}" style="width: 20%">			
		</div>
                <div class="TituloCon">
                </div>
		<div class="form-group last col-sm-12 form-nav" >		    		
			<a class="btn btn-primary btn-xs col-sm-4 btn-stilo" th:href='@{/home}' style="width: 48px; height: 34px; float: right; margin-right: 5%;margin-top: 5px;"><i class="fas fa-home fa-2x" style="margin-top: 10%;"></i></a>
			<a class="btn btn-primary btn-xs col-sm-4 btn-stilo" th:href="@{/ListarCombustible/}+${placa}" style="width: 48px; height: 34px; float: right; margin-right: 1%;margin-top: 5px;"><i class="far fa-arrow-alt-circle-left fa-2x" style="margin-top: 10%"></i></a>
			
			<div id="button" class="form-group last col-sm-4 " style="margin-bottom: 5px;margin-top: 5px;"> 
				<div class="container col-sm-4">
  							 				 					 			
	 				<div class="dropdown col-sm-4"  >
						  
						  <a class="btn btn-secondary dropdown-toggle btn-stilo" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background-color: #337ab7;">						   
						  MENU
						  </a>
						
						  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
						  	
						    <form th:action="@{/Viajes}" style="margin-bottom: 3px; margin-left: 5px;" >
						        <button class="btn btn-outline-success btn-menu" type="submit" value="enviar" >Viajes</button>					    	
				    		</form>						    
						    <form th:action="@{/Vehiculos}" style="margin-bottom: 3px; margin-left: 5px;" >
								        <button class="btn btn-outline-success btn-menu" type="submit" value="enviar" >Vehiculo</button>					    	
						    </form>
						     <form th:action="@{/Seguros}" style="margin-bottom: 3px; margin-left: 5px;" >
								        <button class="btn btn-outline-success btn-menu" type="submit" value="enviar" >Seguros</button>					    	
						    </form>
						      <form th:action="@{/Conductores}" style="margin-bottom: 3px; margin-left: 5px;" >
								        <button class="btn btn-outline-success btn-menu" type="submit" value="enviar" >Conductores</button>					    	
						    </form>	
						    <form th:action="@{/Mantenimientos}" style="margin-bottom: 3px; margin-left: 5px;" >
								        <button class="btn btn-outline-success btn-menu" type="submit" value="enviar" >Mantenimiento</button>					    	
						    </form>						 
						   		
						  </div>
					</div>			
 				</div>
 			</div> 			
		</div>
		<h1 class="item-title text-right StituloCon">Combustible</h1>
	</header>
<section>
	 <div class="tab-content">
	      <div class="form-group last col-sm-12 formfondo" >
	                <div class="row">
	                    <div class="tab-content">
	                        <div class="col-sm-12">
	                            <div class="item-wrap">
	                                <div class="row">
	                                    <div class="col-md-12">
	                                        <form th:action="@{/formComb}" th:object="${combustible}" method="post" id="formulario"  name="visitas" data-toggle="validator" class="popup-form">
	                                            <div class="row">
	                                            
	                                            <!--placa-->
	                                                    <div class="form-group col-sm-5" style="height: 34px;">
														<div class="form-group col-sm-5" >
															<div class="help-block with-errors" style=" width: 393px;"></div>
															<input th:field="*{vehiculo.placa}" name="fname" id="A_pa" placeholder="" class="form-control" type="text" disabled>
										                    <div class="input-group-icon"><i class="fas fa-car-side"></i></div>
														</div>
													</div>
	
	                                                    <!--mes-->
	                                                    <div class="form-group col-sm-4" style="height: 34px;">
														<div class="help-block with-errors"></div>
														<select th:field="*{mes}" id="T_com" class="form-control" style="height: 34px;" required data-error="Ingrese El Mes">
														<option value="*{mes}">--</option>
														<option value="Enero">-Enero</option>
														<option value="Febrero">-Febrero</option>
														<option value="Gasolina">-Marzo</option>
														<option value="Marzo">-Abril</option>
														<option value="Mayo">-Mayo</option>
														<option value="Junio">-Junio</option>
														<option value="Julio">-Julio</option>
														<option value="Agosto">-Agosto</option>
														<option value="Septiembre">-Septiembre</option>
														<option value="Octubre">-Octubre</option>
														<option value="Noviembre">-Noviembre</option>
														<option value="Diciembre">-Diciembre</option>
														</select>											
													    <div class="input-group-icon"><i class="far fa-calendar-alt"></i>
													    </div>
												    </div>
	                                                    <!--año-->
	
	                                                    <div class="form-group col-sm-4">
															<div class="help-block with-errors"></div>
															<input th:field="*{ano}"  id="año" placeholder="Año"  min="1960" max="2040" class="form-control signos" type="number" required data-error="Ingrese El Año">
															<div class="input-group-icon"><i class="far fa-calendar-alt"></i></div>
														</div>
	
	                                                    <!--presupuesto-->
	                                                    <div class="form-group col-sm-9">
	                                                            <div class="help-block with-errors"></div>
	                                                            <input th:field="*{presupuesto}"  id="Num" placeholder="Cantidad de Presupuesto" class="form-control signos" type="number" required data-error="Ingrese un Presupuesto"/>
	                                                            <div class="input-group-icon"><i class="fas fa-hashtag"></i></div>
	                                                    </div>
	
	                                                    
	                                                    
	                                                    <input type="hidden" th:field="*{id_asignacion}"/>
														  <input type="hidden" th:field="*{vehiculo}"/>
														  
	                                                    <!--Boton Guardar-->
	                                                    <div class="form-group last col-sm-12">
	                                                            <button type="submit" id="guardar" class="btn btn-custom"><i class='fa fa-envelope'></i> Guardar</button>
	                                                    </div>
	                                                    <div class="clearfix"></div>
	                                            </div>
	                                        </form>
	                                    </div>
	                                </div>
	                            </div>
	                        </div>
	                    </div>
	                </div>
			</div>
			
		</div>
	</section>
	
	<script src="/assets/js/CambiosEstado.js"></script> 
	<!-- jQuery Library -->
	<script src="/assets/js/jquery-3.4.1.min.js"></script>
	<!-- Popper js -->
	<script src="/assets/js/popper.min.js"></script>
	<!-- Bootstrap Js -->
	<script src="/assets/js/bootstrap.min.js"></script>
	<!-- Form Validator -->
	<script src="/assets/js/validator.min.js"></script>
	<!-- Contact Form Js -->
	<script src="/assets/js/contact-form.js"></script>
	
	 
 
</body>
</html>
