<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<title>Error</title>
<meta charset="utf-8">
	<head th:replace="/layout/layoutHead :: head"></head>
<body>
	<header th:replace="/layout/layoutHead :: header"></header>
<section>
	 <div class="tab-content">
	 		<div class="card-body d-flex container py-4 justify-content-center">
			<img src="/images/error.png" class="img-fluid" alt="Responsive image">
		</div>
		<div id="main">
		<div class="container py-4 justify-content-center">
			<h2 th:text="${titulo}" class="titulotabla" style="margin: 0;"></h2>
			<h2 th:text="${cuerpo}" class="titulotabla" style="margin: 0;"></h2>
			<h2 th:text="${complemento}" class="titulotabla" style="margin: 0;"></h2>
			<div class="py-4 text-center"	>
			<a class="btn btn-primary btn-xs col-sm-4 btn-stilo" th:href='${URL}' style="width: 80px; height: 34px; float: none;"><i class="far fa-1x" style="margin-top: 10%">Regresar.</i></a>
			</div>
			</div>	
			
			
		</div>
		


	</div>
	</section>
	
	
	<!-- jQuery Library -->
	<script src="/assets/js/jquery-3.4.1.min.js"></script>
	<!-- Popper js -->
	<script src="/assets/js/popper.min.js"></script>
	<!-- Bootstrap Js -->
	<script src="/assets/js/bootstrap.min.js"></script>
	<!-- Form Validator -->
	<script src="/assets/js/validator.min.js"></script>
	<!-- Contact Form Js -->
	<script src="/assets/js/contact-form.js"></script>
 
</body>
</html>
		