<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<title>Vehiculos</title>
	<meta charset="utf-8">
	<head th:replace="/layout/layoutHead :: head"></head>

<body>
	<header th:replace="/layout/layoutHead :: header"></header>
	<section>
	 <div class="tab-content">
	      <div class="form-group last col-sm-12 formfondo">
	                <div class="row">
	                    <div class="tab-content">
	                        <div class="col-sm-12">
	                            <div class="item-wrap">
	                                <div class="row">
	                                    <div class="col-md-12">
	                                        <form th:action="@{/formVehi}" th:object="${vehiculo}" enctype="multipart/form-data" method="post" id="formulario"  data-toggle="validator" class="popup-form">
	                                            <div class="row">
														<div class="border col-sm-12">
														
														<table class="infoV">
															<tbody class="infobodyV" style="height: 500px; display: unset; overflow-y: unset;">
																<tr>
																	<td><p class="fw-bold col-md-5 enlinea etiqueta">Serie: </p><p class="fw-bold col-md-5 enlinea" th:text="*{no_serie}"></p></td>
																	<td><p class="fw-bold col-md-5 enlinea etiqueta">Inventario </p><p class="fw-bold col-md-5 enlinea" th:text="*{no_inventario}"></p></td>
																	<td>
																	<p class="fw-bold col-md-5 enlinea etiqueta">Placas </p><p class="fw-bold col-md-5 enlinea etiqueta">Kilometraje </p>
																	<p class="fw-bold col-md-5 enlinea" th:text="*{placa}"></p><p class="fw-bold col-md-5 enlinea" th:text="*{kilometraje_inicial}"></p>
																	</td>																	
																</tr>
																<tr>
																	<td><p class="fw-bold col-md-5 enlinea etiqueta">Num. de motor </p><p class="fw-bold col-md-5 enlinea" th:text="${vehiculo.vehiculo_detalle.no_motor}"></p></td>
																	<!--  <td><p class="fw-bold col-md-5 enlinea">Num. de Factura </p><p class="fw-bold col-md-5 enlinea" th:text="*{no_inventario}"></p></td>-->
																	<td><p class="fw-bold col-md-5 enlinea etiqueta">Costo </p><p class="fw-bold col-md-5 enlinea" th:text="${vehiculo.vehiculo_detalle.valor_compra}"></p></td>
																</tr>
																<tr>
																	<td><p class="fw-bold col-md-5 enlinea etiqueta">Marca </p><p class="fw-bold col-md-5 enlinea" th:text="*{vehiculo_marca.nombre_marca}"></p></td>
																	<td><p class="fw-bold col-md-5 enlinea etiqueta">Submarca </p><p class="fw-bold col-md-5 enlinea" th:text="*{vehiculo_marca.nombre_submarca}"></p></td>
																	<td><p class="fw-bold col-md-5 enlinea etiqueta">Clase </p><p class="fw-bold col-md-5 enlinea" th:text="*{vehiculo_marca.clase}"></p></td>
																</tr>
																<tr>
																	<td><p class="fw-bold col-md-5 enlinea etiqueta">Tipo </p><p class="fw-bold col-md-5 enlinea" th:text="*{vehiculo_marca.tipo}"></p></td>
																	<td><p class="fw-bold col-md-5 enlinea etiqueta">Color </p><p class="fw-bold col-md-5 enlinea" th:text="*{vehiculo_detalle.color}"></p></td>
																	<td><p class="fw-bold col-md-5 enlinea etiqueta">Transmision </p><p class="fw-bold col-md-5 enlinea" th:text="*{vehiculo_transmision.nombre_transmision}"></p></td>
																</tr>
																<tr>
																	<td><p class="fw-bold col-md-5 enlinea etiqueta">Funcion </p><p class="fw-bold col-md-5 enlinea" th:text="*{vehiculo_funcion.nombre_funcion}"></p></td>
																	<td><p class="fw-bold col-md-5 enlinea etiqueta">Combustible </p><p class="fw-bold col-md-5 enlinea" th:text="${vehiculo.vehiculo_detalle.tipo_combustible}"></p></td>
																	<td><p class="fw-bold col-md-5 enlinea etiqueta">Puertas </p><p class="fw-bold col-md-5 enlinea" th:text="${vehiculo.vehiculo_detalle.no_puertas}"></p></td>
																</tr>
																<tr>
																	<td><p class="fw-bold col-md-5 enlinea etiqueta">Rin </p><p class="fw-bold col-md-5 enlinea" th:text="*{vehiculo_detalle.rin}"></p></td>
																	<td><p class="fw-bold col-md-5 enlinea etiqueta">Cilindros </p><p class="fw-bold col-md-5 enlinea" th:text="${vehiculo.vehiculo_detalle.no_cilindros}"></p></td>
																	<td><p class="fw-bold col-md-5 enlinea etiqueta">Personas </p><p class="fw-bold col-md-5 enlinea" th:text="${vehiculo.vehiculo_detalle.no_personas}"></p></td>
																	<td><p class="fw-bold col-md-5 enlinea etiqueta">Tipo de Vale </p><p class="fw-bold col-md-5 enlinea" th:text="*{vale}"></p></td>
																</tr>																
																<tr>
																	<td colspan="3"><p class="fw-bold col-md-2 enlinea etiqueta">Adscripcion </p>
																		<select th:field="*{adscripcion}" class="form-control  col-md-9 enlinea" style=" height: 34px;" disabled>
												                         <option value=""> Seleccione una adscripcion </option>
												                         <option th:each="adss : ${adslist} "
												                            th:value="${adss.id_adscripcion}"
												                            th:utext="${adss.nombre_adscripcion}" />
												                    	</select>
												                    </td>
																</tr>
																<tr>
																	<td colspan="2" rowspan="3" style="border: none;"><p class="fw-bold col-md-5 enlinea etiqueta">Observaciones: </p><p class="fw-bold col-md-5 enlinea" th:text="*{motivo}"></p></td>																																																
																	<td>
																	<p class="fw-bold col-md-5 enlinea etiqueta">Resguardantes del Vehiculo</p>
																	</td>
																</tr>
																<tr th:each="r: ${Resguardante}">
																	<td colspan="2" style="border: none;"></td>																																	
																	<td>
																	<p class="fw-bold col-md-2 enlinea etiqueta" th:text="${r.tipo_resguardante.nombre}"></p>
																	<p class="fw-bold col-md-8 enlinea" th:text="${r.nombre}+' '+${r.apellido1}+' '+${r.apellido2}"></p>
																	</td>
																																																
																</tr>
																<tr>
																	<td><p class="fw-bold col-md-5 enlinea etiqueta">Balisado  </p><p class="fw-bold col-md-5 enlinea" th:text="(${vehiculo.vehiculo_detalle.balisado}==1)? Si:No"></p></td>
																	<td><p class="fw-bold col-md-5 enlinea etiqueta">Blindado </p><p class="fw-bold col-md-5 enlinea" th:text="(${vehiculo.vehiculo_detalle.blindaje}==1)? Si:No"></p></td>
																	
																</tr>																
																<tr>
																	<td><p class="fw-bold col-md-5 enlinea etiqueta">Estado del Vehiculo </p><p class="fw-bold col-md-5 enlinea" th:text="${estado.nombre_estado}"></p></td>																
																	<!--  <td><p class="fw-bold col-md-5 enlinea etiqueta">Folio </p><p class="fw-bold col-md-5 enlinea" th:text="*{no_inventario}"></p></td>-->
																	<td><p class="fw-bold col-md-5 enlinea etiqueta">Evento </p><p class="fw-bold col-md-5 enlinea" th:text="(${revista.estado} == true)?'Paso la Revista':'No Paso la Revista'"></p></td>
																	<td><p class="fw-bold col-md-5 enlinea etiqueta">Fecha del evento </p><p class="fw-bold col-md-5 enlinea" th:text="${revista.fecha_inicio}"></p></td>
																</tr>
																<tr>
																	<td colspan="3"><p class="fw-bold col-md-5 enlinea etiqueta">Observaciones: </p><p class="fw-bold col-md-5 enlinea" th:text="*{motivo}"></p></td>
																</tr>
															</tbody>
														</table>														

													</div>								
	                                            </div>

	                                        	</form>
	                                    </div>
	                                </div>
	                            </div>
	                        </div>
	                    </div>
	                </div>
			</div>

		</div>
	</section>

	<script src="/assets/js/CambiosEstado.js"></script>
	<!-- jQuery Library -->
	<script src="/assets/js/jquery-3.4.1.min.js"></script>
	<!-- Popper js -->
	<script src="/assets/js/popper.min.js"></script>
	<!-- Bootstrap Js -->
	<script src="/assets/js/bootstrap.min.js"></script>
	<!-- Form Validator -->
	<script src="/assets/js/validator.min.js"></script>
	<!-- Contact Form Js -->
	<script src="/assets/js/contact-form.js"></script>



</body>
</html>
