<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<title>Combustible</title>
	<meta charset="utf-8">
	<head th:replace="/layout/layoutHeadMetaData :: head"></head>
<body onload="cargar()">
	<header th:replace="/layout/layoutHeadMetaData :: header"></header>
<section>
	 <div class="tab-content">
	      <div class="form-group last col-sm-12 formfondo" >
	                <div class="row">
	                    <div class="tab-content">
	                        <div class="col-sm-12">
	                            <div class="item-wrap">
	                                <div class="row">
	                                    <div class="col-md-12">
	                                        <form th:action="@{/formComb}" th:object="${combustible}" method="post" id="formulario"  name="visitas" data-toggle="validator" class="popup-form">
	                                            <div class="row">
	                                            
	                                            <!--placa-->
	                                                    <div class="form-group col-sm-5" style="height: 34px;">
														<div class="form-group col-sm-5" >
															<div class="help-block with-errors" style=" width: 393px;"></div>
															<input th:field="*{vehiculo.placa}" name="fname" id="A_pa" placeholder="" class="form-control" type="text" disabled>
										                    <div class="input-group-icon"><i class="fas fa-car-side"></i></div>
														</div>
													</div>
		                                                   
	                                                    <!--Presupuesto-->
	
	                                                    <div class="form-group col-sm-4">
															<div class="help-block with-errors"></div>
															<input th:field="*{presupuesto_ord}"  id="pres" placeholder="Presupuesto"  min="1" max="10000" class="form-control signos" type="number" required data-error="Presupuesto">
															<div class="input-group-icon"><i class="far fa-calendar-alt"></i></div>
														</div>
	
	                                                    <!--no_tarjeta-->
	                                                    <div class="form-group col-sm-9">
	                                                            <div class="help-block with-errors"></div>
	                                                            <input th:field="*{no_tarjeta}"  id="Num" placeholder="Numero de Tarjeta" class="form-control signos" type="number" required data-error="Ingrese el Numero Tarjeta"/>
	                                                            <div class="input-group-icon"><i class="fas fa-hashtag"></i></div>
	                                                    </div>
	                                                     <!--kilometraje_ord-->
	                                                    <div class="form-group col-sm-9">
	                                                            <div class="help-block with-errors"></div>
	                                                            <input th:field="*{kilometraje_ord}" th:value="*{kilometraje_ord}" id="Kilo" placeholder="Kilometraje Actual" class="form-control signos" type="text" disabled/>
	                                                            <div class="input-group-icon"><i class="fas fa-hashtag"></i></div>
	                                                    </div>
	 													<!--Fecha inicial-->
	                                                    <div class="form-group col-sm-9">
	                                                            <div class="help-block with-errors"></div>
	                                                            <input th:field="*{fecha_ini_ord}" id="FIn" step="1" min="2010-01-01" max="2050-12-31" placeholder="Fecha de inicio" class="form-control signos" type="date" required data-error="Ingrese la fecha Inicial"/>
	                                                            <div class="input-group-icon"><i class="fas fa-hashtag"></i></div>
	                                                    </div>
	                                                    
	                                                    <!--Fecha final-->
	                                                    <div class="form-group col-sm-9">
	                                                            <div class="help-block with-errors"></div>
	                                                            <input th:field="*{fecha_fin_ord}" id="Ffin" step="1" min="2010-01-01" max="2050-12-31" placeholder="Fecha de Fin" class="form-control signos" type="date" required data-error="Ingrese la fecha final"/>
	                                                            <div class="input-group-icon"><i class="fas fa-hashtag"></i></div>
	                                                    </div>
	                                                    
	                                                    
	                                                    <input type="hidden" th:field="*{id_asignacion}"/>
														  <input type="hidden" th:field="*{vehiculo}"/>
														  
	                                                    <!--Boton Guardar-->
	                                                    <div class="form-group last col-sm-12">
	                                                            <button type="submit" id="guardar" class="btn btn-custom"><i class='fa fa-envelope'></i> Guardar</button>
	                                                    </div>
	                                                    <div class="clearfix"></div>
	                                            </div>
	                                        </form>
	                                    </div>
	                                </div>
	                            </div>
	                        </div>
	                    </div>
	                </div>
			</div>
			
		</div>
	</section>
	<script type="text/javascript">
		function cargar(){
			var d = new Date();
			var month = d.getMonth()+2;
			var day = d.getDate();	
			
			var output = d.getFullYear()+ '-' +
		    ((month<10 ? '0' : '') + month)+ '-' +
		    (day<10 ? '0' : '') + day ;
			
			$("#Ffin").val(output);
		}
	</script>
	
	<script src="/assets/js/CambiosEstado.js"></script> 
	<!-- jQuery Library -->
	<script src="/assets/js/jquery-3.4.1.min.js"></script>
	<!-- Popper js -->
	<script src="/assets/js/popper.min.js"></script>
	<!-- Bootstrap Js -->
	<script src="/assets/js/bootstrap.min.js"></script>
	<!-- Form Validator -->
	<script src="/assets/js/validator.min.js"></script>
	<!-- Contact Form Js -->
	<script src="/assets/js/contact-form.js"></script>
	
	 
 
</body>
</html>
